// =Palette
$palette: (
    black: #031927,
    white: #ffffff,
    neutral: (
        darker: #243742,
        dark: #4E565B,
        base: #8A9093,
        light: #CED2D4,
        lighter: #F5F6F8
    ),
    negative: (
        darker: #632233,
        dark: #AB293C,
        base: #E42E44,
        light: #F4ABB4,
        lighter: #FDF0F2
    ),
    positive: (
        darker: #075443,
        dark: #0B8058,
        base: #0FA369,
        light: #9FDAC3,
        lighter: #EEF8F4
    ),
    active: (
        darker: #1C3484,
        dark: #2F48C8,
        base: #3F58FF,
        light: #B2BCFF,
        lighter: #F1F3FF
    )
);