// =Breakpoints
$breakpoints: (
    lg: 1442px,
    md: 1024px,
    sm: 768px
);

// =Spacing
$spacing-scale: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    12: 12,
    14: 14,
    15: 15,
    20: 20,
    25: 25,
    30: 30
);

// =Containers
$containers: (
    small: 400px,
    medium: 800px,
    base: 1200px,
    large: 100%
);

// =Edges
$edges: (
    base: 5rem
);

// =Radius
$radius: (
    small: 2px,
    base: 4px,
    large: 8px
);

// =Border
$borders: ();

// =Icons
$icons: (
    base: 16px,
    large: 32px
);

// =Levels
$levels: (
    content: 100, // overlays
    page: 200, // modals/offcanvas
    control: 300, // popups
    all: 400 // messages
);

// =Width
$width-scale: (
    20: 20%,
    25: 25%,
    30: 30%,
    33: 33%,
    40: 40%,
    50: 50%,
    60: 60%,
    67: 67%,
    70: 70%,
    75: 75%,
    80: 80%,
    100: 100%
);

// =Shadow
$shadows: (
    100: (
        1: 0 1px 3px,
        2: 0 1px 2px
    ),
    200: (
        1: 0 10px 15px -3px,
        2: 0 4px 6px -2px
    ),
    300: 0 20px 50px -12px
);