// =Unit
$unit: 4px;

// =DarkTheme
$dark-theme: false !default;
$dark-class: null !default;

// Global
$global-scales: radius, button, input, level, type-space, type-scale !default;

// Opacity
$opacity-scale: 5, 7, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 95 !default;
$opacity-colors: white, black, active, positive, negative !default;

// =Scales
$scales: () !default;

// =Colors
$colors: () !default;
$colors-dark: () !default;

// =Palette
$palette: () !default;
$palette-dark: () !default;

// =Basis
:root {
    // Fonts
    --font-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
    --font-heading: inherit;
    --font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    // unit
    --unit: #{$unit};

    // body
    --body-text-size: 16px;
    --body-text-line: 1.5;

    // weight
    --font-weight-semibold: 600;
    --font-weight-heavy: 900;
}