// =Fonts
$font-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif !default;
$font-heading: inherit !default;
$font-monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;

// =Unit
$unit: 4px !default;

// =Body Text
$body-size: 16px !default;
$body-line: 1.5 !default;

// =DarkTheme
$dark-class: null !default;