// =Colors
$colors: (
    alert: (
        default: (
            base: (
                background-color: palette(neutral, lighter),
                color: palette(neutral, darker)
            ),
            info: (
                background-color: palette(active, lighter),
                color: palette(active, darker)
            ),
            success: (
                background-color: palette(positive, lighter),
                color: palette(positive, darker)
            ),
            error: (
                background-color: palette(negative, lighter),
                color: palette(negative, darker)
            )
        )
    ),
    background: (
        light: palette(white),
        dark: palette(black),
        primary: palette(primary, base),
        aluminum: palette(neutral, lightest),
        silver: palette(neutral, lighter),
        platinum: palette(neutral, light),
        neutral-lightest: palette(neutral, lightest),
        neutral-lighter: palette(neutral, lighter),
        neutral-light: palette(neutral, light)
    ),
    badge: (
        default: (
            base: (
                background-color: palette(neutral, lighter),
                color: palette(neutral, darker)
            ),
            info: (
                background-color: palette(active, lighter),
                color: palette(active, dark)
            ),
            positive: (
                background-color: palette(positive, lighter),
                color: palette(positive, dark)
            ),
            important: (
                background-color: palette(negative, lighter),
                color: palette(negative, dark)
            ),
            dark: (
                background-color: palette(black),
                color: palette(white)
            ),
            light: (
                background-color: palette(white),
                color: palette(black)
            )
        )
    ),
    body: (
        default: palette(white)
    ),
    border: (
        dark-7: palette(black-o, 7),
        dark-10: palette(black-o, 10),
        light-25: palette(white-o, 25),
        primary: palette(primary, base)
    ),
    breadcrumb: (
        default: (
            item: (
                after: (
                    color: palette(black-o, 25)
                ),
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    color: palette(black-o, 60)
                )
            )
        )
    ),
    button: (
        default: (
            base: (
                background-color: palette(white),
                border-color: palette(neutral, mid),
                color: palette(neutral, darker)
            ),
            hoverfocus: (
                background-color: palette(neutral, lighter),
                border-color: palette(neutral, mid),
                color: palette(black)
            ),
            disabled: (
                background-color: palette(white),
                border-color: palette(neutral, mid),
                color: palette(black-o, 80)
            )
        ),
        light: (
            base: (
                background-color: palette(white),
                border-color: transparent,
                color: palette(black)
            ),
            hoverfocus: (
                background-color: palette(white-o, 80),
                border-color: transparent,
                color: palette(black)
            ),
            disabled: (
                background-color: palette(white),
                border-color: transparent,
                color: palette(black-o, 80)
            )
        ),
        dark: (
            base: (
                background-color: palette(black),
                border-color: transparent,
                color: palette(neutral, lightest)
            ),
            hoverfocus: (
                background-color: palette(neutral, darker),
                border-color: transparent,
                color: palette(neutral, lightest)
            ),
            disabled: (
                background-color: palette(black),
                border-color: transparent,
                color: palette(white-o, 70)
            )
        ),
        primary: (
            base: (
                background-color: palette(primary, base),
                border-color: transparent,
                color: palette(primary, lightest)
            ),
            hoverfocus: (
                background-color: palette(primary, dark),
                border-color: transparent,
                color: palette(primary, lightest)
            ),
            disabled: (
                background-color: palette(black),
                border-color: transparent,
                color: palette(white-o, 70)
            )
        )
    ),
    caption: (
        default: (
            base: (
                color: palette(neutral, base)
            ),
            info: (
                color: palette(active, dark)
            ),
            positive: (
                color: palette(positive, dark)
            ),
            important: (
                color: palette(negative, dark)
            ),
            dark: (
                color: palette(black)
            ),
            light: (
                color: palette(white)
            )
        )
    ),
    form: (
        label: (
            text: palette(neutral, darker)
        )
    ),
    gradient: (

    ),
    heading: (
        default: palette(black),
        moderated: palette(black-o, 70),
        muted: palette(black-o, 50),
        light: palette(white),
        light-moderated: palette(white-o, 80),
        primary: palette(primary, base)
    ),
    hint: (
        default: palette(black-o, 50),
        success: palette(positive, dark),
        error: palette(negative, dark),
        required: palette(negative, base)
    ),
    icon: (
        dark: palette(black),
        light: palette(white),
        primary: palette(primary, base)
    ),
    inline: (
        var: (
            color: palette(black-o, 80)
        ),
        kbd: (
            border-color: palette(black-o, 15),
            color: palette(black-o, 80)
        ),
        code: (
            background-color: palette(neutral, lightest),
            color: palette(black-o, 80)
        ),
        cite: (
            color: palette(black-o, 70)
        )
    ),
    input: (
        default: (
            base: (
                color: palette(neutral, darker),
                border-color: palette(neutral, mid),
                background-color: palette(white)
            ),
            focus: (
                border-color: palette(active, light),
                shadow: rgba(palette(active, base), .3)
            )
        ),
        light: (
            base: (
                color: palette(white-o, 90),
                border-color: palette(white-o, 25),
                background-color: palette(white-o, 7)
            ),
            focus: (
                border-color: palette(white-o, 50),
                shadow: palette(white-o, 30)
            )
        ),
        error: (
            base: (
                color: palette(negative, dark),
                border-color: palette(negative, base),
            ),
            focus: (
                border-color: palette(negative, base),
                shadow: rgba(palette(negative, base), .3)
            )
        )
    ),
    label: (
        default: (
            base: (
                background-color: palette(neutral, lighter),
                color: palette(neutral, darker)
            ),
            info: (
                background-color: palette(active, lighter),
                color: palette(active, darker)
            ),
            positive: (
                background-color: palette(positive, lighter),
                color: palette(positive, darker)
            ),
            important: (
                background-color: palette(negative, lighter),
                color: palette(negative, darker)
            ),
            dark: (
                background-color: palette(black),
                color: palette(neutral, lightest)
            ),
            light: (
                background-color: palette(white),
                color: palette(neutral, darker)
            )
        )
    ),
    line: (
        default: palette(black-o, 10)
    ),
    link: (
        default: (
            base: (
                color: palette(active, dark)
            ),
            hover: (
                color: palette(negative, dark)
            )
        ),
        dark: (
            base: (
                color: palette(black)
            ),
            hover: (
                color: palette(black-o, 60)
            )
        ),
        muted: (
            base: (
                color: palette(black-o, 50)
            ),
            hover: (
                color: palette(black)
            )
        ),
        moderated: (
            base: (
                color: palette(black-o, 70)
            ),
            hover: (
                color: palette(black)
            )
        ),
        light: (
            base: (
                color: palette(white)
            ),
            hover: (
                color: palette(white-o, 60)
            )
        ),
        light-moderated: (
            base: (
                color: palette(white-o, 70)
            ),
            hover: (
                color: palette(white)
            )
        ),
        primary: (
            base: (
                color: palette(primary, dark)
            ),
            hover: (
                color: palette(primary, darker)
            )
        )
    ),
    menu: (
        default: (
            item: (
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    color: palette(black-o, 60)
                )
            )
        ),
        primary: (
            item: (
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(primary, dark)
                ),
                hover: (
                    color: palette(primary, darker)
                )
            )
        ),
        light: (
            item: (
                active: (
                    link: (
                        color: palette(white-o, 50)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(white-o, 80)
                ),
                hover: (
                    color: palette(white)
                )
            )
        ),
        muted: (
            item: (
                active: (
                    link: (
                        color: palette(black)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black-o, 60)
                ),
                hover: (
                    color: palette(black)
                )
            )
        ),
        pills: (
            item: (
                active: (
                    link: (
                        color: palette(neutral, lightest),
                        background-color: palette(black)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    background-color: palette(black-o, 10)
                )
            )
        ),
        numbered: (
            item: (
                before: (
                    color: palette(black-o, 60)
                ),
                after: (
                    color: palette(black-o, 60)
                )
            )
        ),
        numbered_light: (
            item: (
                before: (
                    color: palette(white-o, 60)
                ),
                after: (
                    color: palette(white-o, 60)
                )
            )
        ),
        stacked: (
            item: (
                border-bottom-color: palette(black-o, 7)
            )
        ),
        stacked_light: (
            item: (
                border-bottom-color: palette(white-o, 20)
            )
        )
    ),
    nav: (
        default: (
            item: (
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    color: palette(black-o, 60)
                )
            )
        ),
        primary: (
            item: (
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(primary, dark)
                ),
                hover: (
                    color: palette(primary, darker)
                ),
            )
        ),
        light: (
            item: (
                active: (
                    link: (
                        color: palette(white-o, 50)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(white-o, 80)
                ),
                hover: (
                    color: palette(white)
                )
            )
        ),
        muted: (
            item: (
                active: (
                    link: (
                        color: palette(black)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black-o, 60)
                ),
                hover: (
                    color: palette(black)
                )
            )
        ),
        pills: (
            item: (
                active: (
                    link: (
                        background-color: palette(black),
                        color: palette(neutral, lightest)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    background-color: palette(black-o, 10)
                )
            )
        ),
        tabs: (
            list: (
                border-bottom-color: palette(black-o, 10)
            ),
            item: (
                active: (
                    link: (
                        background-color: transparent,
                        color: palette(black),
                        border-bottom-color: palette(black)
                    )
                )
            ),
            link: (
                base: (
                    background-color: transparent,
                    color: palette(black-o, 50),
                    border-bottom-color: transparent
                ),
                hover: (
                    background-color: palette(neutral, lightest),
                    color: palette(black),
                    border-bottom-color: palette(black)
                )
            )
        )
    ),
    overlay: (
        light: palette(white-o, 50),
        dark: palette(black-o, 50)
    ),
    pagination: (
        default: (
            item: (
                active: (
                    link: (
                        background-color: palette(active, base),
                        color: palette(active, lightest),
                        border-color: palette(active, base)
                    )
                )
            ),
            link: (
                base: (
                    background-color: transparent,
                    color: palette(black),
                    border-color: palette(black-o, 15)
                ),
                hover: (
                    background-color: transparent,
                    color: palette(black-o, 60)
                )
            )
        )
    ),
    placeholder: (
        base: palette(black-o, 40),
        light: palette(white-o, 50),
    ),
    pre: (
        background: palette(neutral, lightest),
        text: palette(neutral, darker),
        border: transparent
    ),
    shadow: (
        default: (
            100: palette(black-o, 10),
            150: palette(black-o, 10),
            200: palette(black-o, 10),
            250: palette(black-o, 10),
            300: palette(black-o, 10),
            350: palette(black-o, 25)
        )
    ),
    table: (
        border: palette(neutral, light),
        striped: palette(neutral, lightest)
    ),
    text-gradient: (

    ),
    text: (
        dark: palette(black),
        default: palette(neutral, darker),
        moderated: palette(black-o, 70),
        muted: palette(black-o, 50),
        success: palette(positive, dark),
        error: palette(negative, dark),
        light: palette(white),
        light-moderated: palette(white-o, 80),
        light-muted: palette(white-o, 50),
        primary: palette(primary, base)
    )
) !default;