// =ColorsDark
$colors-dark: map-extend($colors-dark, (
    alert: (
        default: (
            background-color: var(--palette-neutral-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-darker),
        ),
        info: (
            background-color: var(--palette-active-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-active-dark)
        ),
        success: (
            background-color: var(--palette-positive-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-positive-dark)
        ),
        error: (
            background-color: var(--palette-negative-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-dark)
        )
    ),
    background: (
        light: var(--palette-white-7),
        dark: var(--palette-surface-400),
        primary: var(--palette-primary-base),
        aluminum: var(--palette-surface-200),
        silver: var(--palette-surface-300),
        platinum: var(--palette-surface-400)
    ),
    badge: (
        default: (
            background-color: var(--palette-neutral-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-darker)
        ),
        primary: (
            background-color: var(--palette-primary-light),
            border-color: var(--palette-transparent),
            color: var(--palette-primary-dark)
        ),
        positive: (
            background-color: var(--palette-positive-light),
            border-color: var(--palette-transparent),
            color: var(--palette-positive-darker)
        ),
        important: (
            background-color: var(--palette-negative-light),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-dark)
        ),
        dark: (
            background-color: var(--palette-white-30),
            border-color: var(--palette-transparent),
            color: var(--palette-white)
        ),
        light: (
            background-color: var(--palette-white-30),
            border-color: var(--palette-transparent),
            color: var(--palette-white)
        )
    ),
    body: (
        default: var(--palette-surface-base)
    ),
    border: (
        dark: var(--palette-white-50),
        dark-low: var(--palette-white-20),
        dark-medium: var(--palette-white-40),
        light: var(--palette-white-50),
        light-low: var(--palette-white-20),
        light-medium: var(--palette-white-40),
        primary: var(--palette-primary-base)
    ),
    breadcrumb: (
        default: (
            link-color: var(--palette-white-90),
            link-hover-color: var(--palette-white),
            link-active-color: var(--palette-white-50),
            separator-color: var(--palette-white-30)
        )
    ),
    button: (
        default: (
            background-color: var(--palette-transparent),
            border-color: var(--palette-white-40),
            color: var(--palette-white-80),
            hover-background-color: var(--palette-white-7),
            hover-border-color: var(--palette-white-60),
            hover-color: var(--palette-white),
            disabled-background-color: var(--palette-white-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-black-80)
        ),
        primary: (
            background-color: var(--palette-primary-base),
            border-color: var(--palette-transparent),
            color: var(--palette-primary-lighter),
            hover-background-color: #716EED,
            hover-border-color: var(--palette-transparent),
            hover-color: var(--palette-primary-lightest),
            disabled-background-color: var(--palette-white-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-black-80)
        ),
        light: (
            background-color: var(--palette-white-95),
            border-color: var(--palette-transparent),
            color: var(--palette-black),
            hover-background-color: var(--palette-white),
            hover-border-color: var(--palette-transparent),
            hover-color: var(--palette-black),
            disabled-background-color: var(--palette-white-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-black-80)
        ),
        light-outline: (
            background-color: var(--palette-transparent),
            border-color: var(--palette-white-60),
            color: var(--palette-white-90),
            hover-background-color: var(--palette-white-7),
            hover-border-color: var(--palette-white-80),
            hover-color: var(--palette-white),
            disabled-background-color: var(--palette-white-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-black-80)
        ),
        dark: (
            background-color: var(--palette-white-95),
            border-color: var(--palette-transparent),
            color: var(--palette-black),
            hover-background-color: var(--palette-white),
            hover-border-color: var(--palette-transparent),
            hover-color: var(--palette-black),
            disabled-background-color: var(--palette-white-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-black-80)
        )
    ),
    caption: (
        default: (
            color: var(--palette-white-90),
            background-color: var(--palette-transparent)
        )
    ),
    code: (
        default: (
            background-color: var(--palette-surface-300),
            color: var(--palette-white-80),
            border-color: var(--palette-transparent)
        ),
        light: (
            background-color: var(--palette-white),
            color: var(--palette-neutral-darker),
            border-color: var(--palette-transparent)
        ),
        dark: (
            background-color: var(--palette-black),
            color: var(--palette-white-90),
            border-color: var(--palette-transparent)
        )
    ),
    divider: (
        default: var(--palette-white-50),
        primary: var(--palette-primary-base),
        muted: var(--palette-white-20),
        light: var(--palette-white-50),
        light-muted: var(--palette-white-20)
    ),
    form-label: (
        default: (
            color: var(--palette-white-90)
        )
    ),
    heading: (
        default: var(--palette-white-90),
        moderated: var(--palette-white-70),
        muted: var(--palette-white-50),
        light: var(--palette-white-95),
        light-moderated: var(--palette-white-70),
        primary: var(--palette-primary-light)
    ),
    hint: (
        default: (
            color: var(--palette-black-50)
        ),
        success: (
            color: var(--palette-positive-dark)
        ),
        error: (
            color: var(--palette-negative-dark)
        ),
        req: (
            color: var(--palette-negative-base)
        )
    ),
    icon: (
        dark: var(--palette-white-90),
        light: var(--palette-white-90),
        primary: var(--palette-primary-light)
    ),
    inline: (
        var: (
            color: var(--palette-white-80),
            border-color: var(--palette-transparent),
            background-color: var(--palette-transparent)
        ),
        kbd: (
            color: var(--palette-white-80),
            border-color: var(--palette-white-25),
            background-color: var(--palette-transparent)
        ),
        code: (
            color: var(--palette-white-80),
            border-color: var(--palette-transparent),
            background-color: var(--palette-white-5)
        ),
        cite: (
            color: var(--palette-white-80)
        )
    ),
    input: (
        default: (
            color: var(--palette-white-90),
            border-color: var(--palette-white-30),
            background-color: var(--palette-white-15),
            box-shadow: none,
            focus-color: var(--palette-white-90),
            focus-border-color: var(--palette-white-50),
            focus-background-color: var(--palette-white-20),
            focus-box-shadow: none
        ),
        error: (
            outline-color: var(--palette-negative-base),
            color: var(--palette-negative-dark),
            border-color: var(--palette-negative-base),
            background-color: var(--palette-white-15),
            box-shadow: none,
            focus-color: var(--palette-negative-base),
            focus-border-color: var(--palette-negative-base),
            focus-background-color: var(--palette-white-20),
            focus-box-shadow: none
        ),
        light: (
            color: var(--palette-white-90),
            border-color: var(--palette-white-40),
            background-color: var(--palette-white-15),
            box-shadow: none,
            focus-color: var(--palette-white-90),
            focus-border-color: var(--palette-white-60),
            focus-background-color: var(--palette-white-20),
            focus-box-shadow: none
        )
    ),
    input-addon: (
        color: var(--palette-white-70),
        background-color: var(--palette-white-15),
        border-color: var(--palette-white-40)
    ),
    label: (
        default: (
            background-color: var(--palette-black),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-lightest)
        ),
        primary: (
            background-color: var(--palette-primary-dark),
            border-color: var(--palette-transparent),
            color: var(--palette-primary-lightest)
        ),
        positive: (
            background-color: var(--palette-positive-dark),
            border-color: var(--palette-transparent),
            color: var(--palette-positive-lightest)
        ),
        important: (
            background-color: var(--palette-negative-dark),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-lightest)
        ),
        dark: (
            background-color: var(--palette-white),
            border-color: var(--palette-transparent),
            color: var(--palette-black)
        ),
        light: (
            background-color: var(--palette-white),
            border-color: var(--palette-transparent),
            color: var(--palette-black)
        )
    ),
    line: (
        default: var(--palette-white-20)
    ),
    link: (
        default: (
            color: var(--palette-active-light),
            hover-color: var(--palette-white-90)
        ),
        dark: (
            color: var(--palette-white-90),
            hover-color: var(--palette-white)
        ),
        muted: (
            color: var(--palette-white-50),
            hover-color: var(--palette-white)
        ),
        moderated: (
            color: var(--palette-white-80),
            hover-color: var(--palette-white)
        ),
        light: (
            color: var(--palette-white-95),
            hover-color: var(--palette-white-60)
        ),
        light-moderated: (
            color: var(--palette-white-70),
            hover-color: var(--palette-white)
        ),
        primary: (
            color: var(--palette-primary-light),
            hover-color: var(--palette-white-90)
        )
    ),
    list: (
        default: (
            item-color: var(--text-default)
        ),
        stacked: (
            item-border-color: var(--palette-white-15)
        ),
        bordered: (
            border-color: var(--palette-white-15)
        ),
        numbered: (
            number-color: var(--palette-white-50)
        ),
        light: (
            item-color: var(--text-light),
            item-border-color: var(--palette-white-20),
            border-color: var(--palette-white-15),
            number-color: var(--palette-white-50)
        )
    ),
    menu: (
        default: (
            link-color: var(--palette-white-90),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-white),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-white-50),
            link-active-background-color: var(--palette-transparent)
        ),
        stacked: (
            item-border-color: var(--palette-white-15)
        ),
        pills: (
            link-color: var(--palette-white-90),
            link-hover-background-color: var(--palette-white-15),
            link-active-color: var(--palette-black),
            link-active-background-color: var(--palette-white-90)
        ),
        numbered: (
            number-color: var(--palette-white-50)
        ),
        primary: (
            link-color: var(--palette-primary-light),
            link-hover-color: var(--palette-white-90),
            link-active-color: var(--palette-white-90)
        ),
        light: (
            link-color: var(--palette-white-90),
            link-hover-color: var(--palette-white),
            link-active-color: var(--palette-white-50),
            item-border-color: var(--palette-white-15),
            number-color: var(--palette-white-50)
        ),
        muted: (
            link-color: var(--palette-white-60),
            link-hover-color: var(--palette-white),
            link-active-color: var(--palette-white)
        )
    ),
    nav: (
        default: (
            link-color: var(--palette-white-90),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-white),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-white-50),
            link-active-background-color: var(--palette-transparent)
        ),
        primary: (
            link-color: var(--palette-primary-light),
            link-hover-color: var(--palette-white-90),
            link-active-color: var(--palette-white-90)
        ),
        light: (
            link-color: var(--palette-white-90),
            link-hover-color: var(--palette-white),
            link-active-color: var(--palette-white-50)
        ),
        muted: (
            link-color: var(--palette-white-60),
            link-hover-color: var(--palette-white),
            link-active-color: var(--palette-white)
        ),
        pills: (
            link-color: var(--palette-white-90),
            link-hover-background-color: var(--palette-white-15),
            link-active-color: var(--palette-black),
            link-active-background-color: var(--palette-white-90)
        ),
        points: (
            border-color: var(--palette-white-20),
            link-color: var(--palette-white-50),
            link-border-color: var(--palette-transparent),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-white),
            link-hover-border-color: var(--palette-white),
            link-hover-background-color: var(--palette-white-15),
            link-active-color: var(--palette-white),
            link-active-border-color: var(--palette-white),
            link-active-background-color: var(--palette-transparent)
        ),
        tabs: (
            link-color: var(--palette-white-70),
            link-background-color: var(--palette-white-20),
            link-hover-color: var(--palette-black),
            link-hover-background-color: var(--palette-white),
            link-active-color: var(--palette-black),
            link-active-background-color: var(--palette-white)
        ),
        switcher: (
            border-color: var(--palette-white-30),
            link-color: var(--palette-white-60),
            link-border-color: var(--palette-transparent),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-white),
            link-hover-border-color: var(--palette-white),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-white-90),
            link-active-border-color: var(--palette-white-90),
            link-active-background-color: var(--palette-transparent)
        )
    ),
    overlay: (
        light: var(--palette-black-50),
        dark: var(--palette-black-50)
    ),
    placeholder: (
        default: var(--palette-white-40),
        light: var(--palette-white-40)
    ),
    quote: (
        default: (
            color: var(--palette-white-90),
            background-color: var(--palette-transparent)
        )
    ),
    quote-caption: (
        default: (
            color: var(--palette-white-90),
            background-color: var(--palette-transparent)
        )
    ),
    shadow: (
        100: none,
        150: none,
        200: none,
        250: none,
        300: none,
        350: none
    ),
    table: (
        default: (
            border-color: var(--palette-white-10),
            head-border-color: var(--palette-white-10)
        ),
        striped: (
            background-color: var(--palette-white-7)
        )
    ),
    text: (
        dark: var(--palette-white-95),
        default: var(--palette-white-90),
        moderated: var(--palette-white-80),
        muted: var(--palette-white-50),
        success: var(--palette-positive-light),
        error: var(--palette-negative-light),
        light: var(--palette-white-90),
        light-moderated: var(--palette-white-80),
        light-muted: var(--palette-white-50),
        primary: var(--palette-primary-light)
    )
));