// =Palette
$palette: map-extend($palette, (
    transparent: transparent,
    black: #030612,
    white: #ffffff,
    primary: (
        darker: #1441AD,
        dark: #235AE1,
        base: #3B73FC,
        light: #B7CBFB,
        lighter: #E2EAFD,
        lightest: #F1F5FE
    ),
    neutral: (
        darker: #2A2D3C,
        dark: #3F424A,
        base: #7C7C83,
        mid: #CDCDD0,
        light: #E6E6E9,
        lighter: #EDEDEE,
        lightest: #F5F5F6
    ),
    negative: (
        darker: #A02146,
        dark: #E01A4D,
        base: #F53063,
        light: #FCB7C9,
        lighter: #FEDCE5,
        lightest: #FEF4F7
    ),
    positive: (
        darker: #286C50,
        dark: #219564,
        base: #35AF7C,
        light: #A0D9C1,
        lighter: #DAF1E7,
        lightest: #F0FAF6
    ),
    active: (
        darker: #1441AD,
        dark: #235AE1,
        base: #3B73FC,
        light: #B7CBFB,
        lighter: #E2EAFD,
        lightest: #F1F5FE
    ),
    red: (
        darker: #A02146,
        dark: #E01A4D,
        base: #F53063,
        light: #FCB7C9,
        lighter: #FEDCE5,
        lightest: #FEF4F7
    ),
    orange: (
        darker: #9D5E07,
        dark: #E08300,
        base: #FB9300,
        light: #FBD093,
        lighter: #FDEED8,
        lightest: #FEF8F1
    ),
    yellow: (
        darker: #886D02,
        dark: #E0B816,
        base: #FBD333,
        light: #F6E18E,
        lighter: #FDF5D3,
        lightest: #FDFAEC
    ),
    green: (
        darker: #286C50,
        dark: #219564,
        base: #35AF7C,
        light: #A0D9C1,
        lighter: #DAF1E7,
        lightest: #F0FAF6
    ),
    blue: (
        darker: #143FA9,
        dark: #164FDA,
        base: #2F6BFC,
        light: #B2C7FB,
        lighter: #DDE7FD,
        lightest: #F1F5FE
    ),
    indigo: (
        darker: #1311A2,
        dark: #1C19E1,
        base: #312EFC,
        light: #B7B6FB,
        lighter: #E2E2FD,
        lightest: #F1F1FE
    ),
    violet: (
        darker: #5328A9,
        dark: #5E19EB,
        base: #722EFC,
        light: #D4C2FA,
        lighter: #EBE3FD,
        lightest: #F8F6FE
    )
));