// =PaletteDark
$palette-dark: map-extend($palette-dark, (
    surface: (
        base: #202124,
        100: #3F4345,
        200: #383B3D,
        300: #303236,
        400: #2A2B2E
    ),
    black: #171718,
    neutral: (
        darker: #2D2D30,
        dark: #434348,
        base: #85858A,
        mid: #D1D1D1,
        light: #E8E8E8,
        lighter: #ECECEC,
        lightest: #F3F3F4
    ),
    primary: (
        mid: #716EED,
        base: #504DE6
    ),
    negative: (
        mid: #E36E8C,
        base: #EE4D77
    ),
    positive: (
        mid: #67D6A8,
        base: #34CB8C
    ),
    active: (
        mid: #716EED,
        base: #504DE6
    ),
    red: (
        mid: #E36E8C,
        base: #EE4D77
    ),
    orange: (
        mid: #F6C57D,
        base: #F2AD4A
    ),
    yellow: (
        mid: #F4DC7E,
        base: #F3D55E
    ),
    green: (
        mid: #67D6A8,
        base: #34CB8C
    ),
    blue: (
        mid: #7387E8,
        base: #5B74FB
    ),
    indigo: (
        mid: #716EED,
        base: #504DE6
    ),
    purple: (
        mid: #B574E7,
        base: #A853E9
    )
));