// =Palette
$palette: map-extend($palette, (
    transparent: transparent,
    black: #04131C,
    black-opacity: (
        5: rgba(#04131C, .05),
        7: rgba(#04131C, .07),
        10: rgba(#04131C, .1),
        15: rgba(#04131C, .15),
        20: rgba(#04131C, .2),
        25: rgba(#04131C, .25),
        30: rgba(#04131C, .3),
        40: rgba(#04131C, .4),
        50: rgba(#04131C, .5),
        60: rgba(#04131C, .6),
        70: rgba(#04131C, .7),
        80: rgba(#04131C, .8),
        90: rgba(#04131C, .9),
        95: rgba(#04131C, .95)
    ),
    white: #ffffff,
    white-opacity: (
        5: rgba(#ffffff, .05),
        7: rgba(#ffffff, .07),
        10: rgba(#ffffff, .1),
        15: rgba(#ffffff, .15),
        20: rgba(#ffffff, .2),
        25: rgba(#ffffff, .25),
        30: rgba(#ffffff, .3),
        40: rgba(#ffffff, .4),
        50: rgba(#ffffff, .5),
        60: rgba(#ffffff, .6),
        70: rgba(#ffffff, .7),
        80: rgba(#ffffff, .8),
        90: rgba(#ffffff, .9),
        95: rgba(#ffffff, .95)
    ),
    primary: (
        darker: #383FAE,
        dark: #474AD7,
        base: #5454F7,
        light: #BBBBFC,
        lighter: #DDDDFD,
        lightest: #F3F3FE
    ),
    neutral: (
        darker: #1F2F39,
        dark: #3A4852,
        base: #768187,
        mid: #CDD1D3,
        light: #E5E7E8,
        lighter: #EDEFF0,
        lightest: #F3F5F6
    ),
    negative: (
        darker: #A52149,
        dark: #D62454,
        base: #FC275D,
        light: #FEB4C7,
        lighter: #FFDBE4,
        lightest: #FFF4F7
    ),
    positive: (
        darker: #01825F,
        dark: #009B6C,
        base: #00BB7E,
        light: #A6E7D2,
        lighter: #D4F4E9,
        lightest: #EDFAF6
    ),
    active: (
        darker: #383FAE,
        dark: #474AD7,
        base: #5454F7,
        light: #BBBBFC,
        lighter: #DDDDFD,
        lightest: #F3F3FE
    ),
    red: (
        darker: #A52149,
        dark: #D62454,
        base: #FC275D,
        light: #FEB4C7,
        lighter: #FFDBE4,
        lightest: #FFF4F7
    ),
    orange: (
        darker: #A7580D,
        dark: #D96C05,
        base: #FF7B00,
        light: #FFCA99,
        lighter: #FFE5CC,
        lightest: #FFF6ED
    ),
    yellow: (
        darker: #926C01,
        dark: #BD9A07,
        base: #FCCE20,
        light: #FDE279,
        lighter: #FEF0BC,
        lightest: #FFFBEF
    ),
    green: (
        darker: #01825F,
        dark: #009B6C,
        base: #00BB7E,
        light: #A6E7D2,
        lighter: #D4F4E9,
        lightest: #EDFAF6
    ),
    blue: (
        darker: #3062B2,
        dark: #3D79DD,
        base: #488BFE,
        light: #B6D1FF,
        lighter: #DAE8FF,
        lightest: #F2F7FF
    ),
    indigo: (
        darker: #383FAE,
        dark: #474AD7,
        base: #5454F7,
        light: #BBBBFC,
        lighter: #DDDDFD,
        lightest: #F3F3FE
    ),
    violet: (
        darker: #6011AA,
        dark: #7C0FD2,
        base: #920EF1,
        light: #D9ABFA,
        lighter: #EDD6FD,
        lightest: #F9F3FE
    )
));