// =PaletteDark
$palette-dark: map-extend($palette-dark, (
    surface: (
        base: #202124,
        100: #3F4345,
        200: #383B3D,
        300: #303236,
        400: #2A2B2E
    ),
    black: #171718,
    black-opacity: (
        5: rgba(#171718, .05),
        7: rgba(#171718, .07),
        10: rgba(#171718, .1),
        15: rgba(#171718, .15),
        20: rgba(#171718, .2),
        25: rgba(#171718, .25),
        30: rgba(#171718, .3),
        40: rgba(#171718, .4),
        50: rgba(#171718, .5),
        60: rgba(#171718, .6),
        70: rgba(#171718, .7),
        80: rgba(#171718, .8),
        90: rgba(#171718, .9),
        95: rgba(#171718, .95)
    ),
    neutral: (
        darker: #2D2D30,
        dark: #434348,
        base: #85858A,
        mid: #D1D1D1,
        light: #E8E8E8,
        lighter: #ECECEC,
        lightest: #F3F3F4
    )
));