// =Scales
$scales: map-extend($scales, (
    type-scale: (
        80: 80px,
        64: 64px,
        60: 60px,
        56: 56px,
        48: 48px,
        36: 36px,
        32: 32px,
        28: 28px,
        24: 24px,
        20: 20px,
        18: 18px,
        16: 16px,
        15: 15px,
        14: 14px,
        13: 13px,
        12: 12px,
        11: 11px,
        10: 10px
    ),
    type-space: (
        h1-to-tag: 5rem,
        h2-to-tag: 3rem,
        h3-to-tag: 3rem,
        h4-to-tag: 2rem,
        h5-to-tag: 2rem,
        h6-to-tag: 2rem,
        tag-to-tag: 5rem,
        tag-to-h2: 8rem,
        tag-to-h3: 8rem,
        tag-to-h4: 8rem,
        tag-to-h5: 8rem,
        tag-to-h6: 8rem,
        figure-to-tag: 8rem,
        form-item-to-item: 5rem
    ),
    button: (
        small: 32px,
        base: 42px,
        large: 56px
    ),
    input: (
        small: 36px,
        base: 42px,
        large: 56px
    ),
    badge: (
        base: 20px,
        large: 26px,
        huge: 36px,
        mega: 48px
    ),
    breakpoint: (
        lg: 1442px,
        md: 1024px,
        sm: 768px
    ),
    sidebar: (
        base: 300px
    ),
    grid: (
        gridname: grid,
        columnname: column,
        columns: 12,
        gutter: 8rem,
        gap: 6rem
    ),
    container: (
        small: 400px,
        content: 800px,
        medium: 1000px,
        base: 1120px,
        large: 1240px,
        full: 100%
    ),
    edge: (
        base: 5rem
    ),
    level: (
        over-page: 100, // dropdowns/popovers
        over-content: 200, // modals/popups
        over-all: 300 // messages
    ),
    radius: (
        small: 2px,
        base: 4px,
        large: 8px,
        huge: 12px
    ),
    border: (
        1: 1px,
        2: 2px,
        4: 4px
    ),
    icon: (
        12: 12px,
        14: 14px,
        16: 16px,
        20: 20px,
        24: 24px,
        32: 32px,
        48: 48px,
        64: 64px
    ),
    width: (
        20: 20%,
        25: 25%,
        30: 30%,
        33: 33%,
        40: 40%,
        50: 50%,
        60: 60%,
        67: 67%,
        70: 70%,
        75: 75%,
        80: 80%,
        100: 100%
    ),
    spacing: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        8: 8,
        10: 10,
        12: 12,
        14: 14,
        16: 16,
        20: 20,
        25: 25,
        30: 30
    ),
    image: (
       32: 32px,
       48: 48px,
       64: 64px,
       128: 128px
    )
));