// =Type
$type: map-extend($type, (
    alert: (
        default: 14px 1.5
    ),
    badge: (
        default: 12px,
        large: 14px,
        huge: 16px,
        mega: 20px
    ),
    base: (
        h1: 56px 1.15,
        h2: 28px 1.35,
        h3: 20px 1.4,
        h4: 16px 1.5
    ),
    brand: (
        default: 16px
    ),
    breadcrumb: (
        default: 14px 1.5
    ),
    button: (
        small: 14px,
        default: 15px,
        large: 18px
    ),
    caption: (
        default: 12px 1.5,
        caps: 11px 1.5
    ),
    checkbox-radio: (
        default: 15px 1.5
    ),
    code: (
        large: 16px 1.5,
        default: 14px 1.5,
        small: 12px 1.5
    ),
    form-label: (
        default: 15px 1.5
    ),
    heading: (
        giga: 96px 1.1,
        xxmega: 80px 1.15,
        xmega: 72px 1.15,
        mega: 64px 1.15,
        xxhuge: 60px 1.15,
        xhuge: 56px 1.15,
        huge: 48px 1.2,
        xxlarge: 44px 1.2,
        xlarge: 40px 1.2,
        large: 36px 1.2,
        xxmedium: 32px 1.3,
        xmedium: 28px 1.3,
        medium: 24px 1.3,
        small: 20px 1.4,
        micro: 16px 1.5,
        tagline: 11px 1.5
    ),
    hint: (
        default: 13px 1.5
    ),
    input: (
        small: 14px 1.5,
        default: 15px 1.5,
        large: 20px 1.5
    ),
    input-addon: (
        default: 14px
    ),
    label: (
        default: 12px
    ),
    list: (
        default: 15px 1.3,
        medium: 14px 1.3,
        small: 13px 1.3
    ),
    menu: (
        default: 15px 1.3,
        medium: 14px 1.3,
        small: 13px 1.3
    ),
    nav: (
        default: 14px,
        small: 13px
    ),
    quote: (
        default: 18px 1.5
    ),
    quote-caption: (
        default: 14px 1.5
    ),
    table: (
        default: 15px 1.5
    ),
    text: (
        giga: 32px 1.5,
        mega: 24px 1.5,
        huge: 20px 1.5,
        large: 18px 1.5,
        default: 16px 1.5,
        medium: 14px 1.5,
        small: 13px 1.5,
        tiny: 12px 1.5,
        atomic: 10px 1.5
    )
));

// =TypeSm
$type-sm: map-extend($type-sm, (
    heading: (
        giga: 60px 1.15,
        xxmega: 60px 1.15,
        xmega: 60px 1.15,
        mega: 60px 1.15
    )
));