// =Functions
@import 'funcs';

// =Scales
@import "vars/basis";
@import "vars/scales";
@import "vars/type";

// =Palette
@import "vars/palette";
@import "vars/palette-dark";

// =Colors
@import "vars/colors";
@import "vars/colors-dark";