// =Close
@mixin close($size: 1em, $weight: 1px, $color: #000, $scale: 50%) {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: $size;
    height: $size;
    opacity: 1;
    font-size: $size;
    line-height: 1;
    border-radius: 9999px;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center;
        background-color: $color;
    }
    &::before {
        height: $weight;
        width: $scale;
    }
    &::after {
        height: $scale;
        width: $weight;
    }
    &:hover {
        opacity: .6;
    }
}
@mixin close-color($color) {
    &::before,
    &::after {
        background-color: $color;
    }
}