<!DOCTYPE html>
<html>
<head>
    <title>Superkube</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
</head>
<body>
    <div class="flex-layout vh-full">
        <div class="flex-sidebar bg-silver p-8">
            <p class="text-medium text-strong">Sidebar</p>
        </div>
        <div class="flex-content bg-aluminum p-8">
            <p class="text-medium text-strong">Content</p>
        </div>
    </div>
</body>
</html>