<!DOCTYPE html>
<html>
<head>
    <title>Superkube</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
</head>
<body>
    <div class="hero py-24">
        <div class="container edges centered">
            <div class="hero-head">
                <h1 class="heading-mega">Starter Template</h1>
            </div>
            <div class="hero-body mt-4">
                <p class="text-huge">This is a minimal template with Superkube.</p>
            </div>
        </div>
    </div>
</body>
</html>