// =Stack
.stack > * {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid transparent;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:last-child:after {
        display: none;
    }
}

// =Divider
$borders-colors: map-get($colors, border);
@each $name, $value in $borders-colors {
    .stack-#{$name} > * {
        &:after {
            border-bottom-color: #{$value};
        }
    }
}

// =Size
$spacing-scale: scale(spacing);
@each $name, $index in $spacing-scale {
    .stack-#{$name} > * {
        margin-bottom: $unit * $index;
        &:after { bottom: -($unit * $index)/2; }
    }
}