// =Alert
$colors: map-extend($colors, (
    alert: (
        default: (
            base: (
                background-color: palette(neutral, lighter),
                color: palette(neutral, darker)
            ),
            info: (
                background-color: palette(active, lighter),
                color: palette(active, darker)
            ),
            success: (
                background-color: palette(positive, lighter),
                color: palette(positive, darker)
            ),
            error: (
                background-color: palette(negative, lighter),
                color: palette(negative, darker)
            )
        )
    )
));