// =Background
$colors: map-extend($colors, (
    background: (
        light: palette(white),
        dark: palette(black),
        primary: palette(primary, base),
        aluminum: palette(neutral, lightest),
        silver: palette(neutral, lighter),
        platinum: palette(neutral, light),
        neutral-lightest: palette(neutral, lightest),
        neutral-lighter: palette(neutral, lighter),
        neutral-light: palette(neutral, light)
    )
));