// =Badge
$colors: map-extend($colors, (
    badge: (
        default: (
            base: (
                background-color: palette(neutral, lighter),
                color: palette(neutral, darker)
            ),
            info: (
                background-color: palette(active, lighter),
                color: palette(active, dark)
            ),
            positive: (
                background-color: palette(positive, lighter),
                color: palette(positive, dark)
            ),
            important: (
                background-color: palette(negative, lighter),
                color: palette(negative, dark)
            ),
            dark: (
                background-color: palette(black),
                color: palette(white)
            ),
            light: (
                background-color: palette(white),
                color: palette(black)
            )
        )
    )
));