// =Button
$colors: map-extend($colors, (
    button: (
        default: (
            base: (
                background-color: palette(white),
                border-color: palette(neutral, mid),
                color: palette(neutral, darker)
            ),
            hoverfocus: (
                background-color: palette(neutral, lighter),
                border-color: palette(neutral, mid),
                color: palette(black)
            ),
            disabled: (
                background-color: palette(white),
                border-color: palette(neutral, mid),
                color: palette(black-o, 80)
            )
        ),
        light: (
            base: (
                background-color: palette(white),
                border-color: transparent,
                color: palette(black)
            ),
            hoverfocus: (
                background-color: palette(white-o, 80),
                border-color: transparent,
                color: palette(black)
            ),
            disabled: (
                background-color: palette(white),
                border-color: transparent,
                color: palette(black-o, 80)
            )
        ),
        dark: (
            base: (
                background-color: palette(black),
                border-color: transparent,
                color: palette(neutral, lightest)
            ),
            hoverfocus: (
                background-color: palette(neutral, darker),
                border-color: transparent,
                color: palette(neutral, lightest)
            ),
            disabled: (
                background-color: palette(black),
                border-color: transparent,
                color: palette(white-o, 70)
            )
        ),
        primary: (
            base: (
                background-color: palette(primary, base),
                border-color: transparent,
                color: palette(primary, lightest)
            ),
            hoverfocus: (
                background-color: palette(primary, dark),
                border-color: transparent,
                color: palette(primary, lightest)
            ),
            disabled: (
                background-color: palette(black),
                border-color: transparent,
                color: palette(white-o, 70)
            )
        )
    )
));