// =Heading
$colors: map-extend($colors, (
    heading: (
        default: palette(black),
        moderated: palette(black-o, 70),
        muted: palette(black-o, 50),
        light: palette(white),
        light-moderated: palette(white-o, 80),
        primary: palette(primary, base)
    )
));