// =Label
$colors: map-extend($colors, (
    label: (
        default: (
            base: (
                background-color: palette(neutral, lighter),
                color: palette(neutral, darker)
            ),
            info: (
                background-color: palette(active, lighter),
                color: palette(active, darker)
            ),
            positive: (
                background-color: palette(positive, lighter),
                color: palette(positive, darker)
            ),
            important: (
                background-color: palette(negative, lighter),
                color: palette(negative, darker)
            ),
            dark: (
                background-color: palette(black),
                color: palette(neutral, lightest)
            ),
            light: (
                background-color: palette(white),
                color: palette(neutral, darker)
            )
        )
    )
));