// =Nav
$colors: map-extend($colors, (
    nav: (
        default: (
            item: (
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    color: palette(black-o, 60)
                )
            )
        ),
        primary: (
            item: (
                active: (
                    link: (
                        color: palette(black-o, 40)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(primary, dark)
                ),
                hover: (
                    color: palette(primary, darker)
                ),
            )
        ),
        light: (
            item: (
                active: (
                    link: (
                        color: palette(white-o, 50)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(white-o, 80)
                ),
                hover: (
                    color: palette(white)
                )
            )
        ),
        muted: (
            item: (
                active: (
                    link: (
                        color: palette(black)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black-o, 60)
                ),
                hover: (
                    color: palette(black)
                )
            )
        ),
        pills: (
            item: (
                active: (
                    link: (
                        background-color: palette(black),
                        color: palette(neutral, lightest)
                    )
                )
            ),
            link: (
                base: (
                    color: palette(black)
                ),
                hover: (
                    background-color: palette(black-o, 10)
                )
            )
        ),
        tabs: (
            list: (
                border-bottom-color: palette(black-o, 10)
            ),
            item: (
                active: (
                    link: (
                        background-color: transparent,
                        color: palette(black),
                        border-bottom-color: palette(black)
                    )
                )
            ),
            link: (
                base: (
                    background-color: transparent,
                    color: palette(black-o, 50),
                    border-bottom-color: transparent
                ),
                hover: (
                    background-color: palette(neutral, lightest),
                    color: palette(black),
                    border-bottom-color: palette(black)
                )
            )
        )
    )
));