// =Pagination
$colors: map-extend($colors, (
    pagination: (
        default: (
            item: (
                active: (
                    link: (
                        background-color: palette(active, base),
                        color: palette(active, lightest),
                        border-color: palette(active, base)
                    )
                )
            ),
            link: (
                base: (
                    background-color: transparent,
                    color: palette(black),
                    border-color: palette(black-o, 15)
                ),
                hover: (
                    background-color: transparent,
                    color: palette(black-o, 60)
                )
            )
        )
    )
));