// =Shadow
$colors: map-extend($colors, (
    shadow: (
        default: (
            100: palette(black-o, 10),
            150: palette(black-o, 10),
            200: palette(black-o, 10),
            250: palette(black-o, 10),
            300: palette(black-o, 10),
            350: palette(black-o, 25)
        )
    )
));