// = Border
[class^="b-"],
[class*=" b-"] {
    border-style: solid;
}
.b-dashed { border-style: dashed; }
.b-dotted { border-style: dotted; }

[class^="b-top-"], [class*=" b-top-"] {
    border-style: none;
    border-top-style: solid;
    &.b-dashed { border-top-style: dashed }
    &.b-dotted { border-top-style: dotted }
}
[class^="b-bottom-"], [class*=" b-bottom-"] {
    border-style: none;
    border-bottom-style: solid;
    &.b-dashed { border-bottom-style: dashed }
    &.b-dotted { border-bottom-style: dotted }
}
[class^="b-left-"], [class*=" b-left-"] {
    border-style: none;
    border-left-style: solid;
    &.b-dashed { border-left-style: dashed }
    &.b-dotted { border-left-style: dotted }
}
[class^="b-right-"], [class*=" b-right-"] {
    border-style: none;
    border-right-style: solid;
    &.b-dashed { border-right-style: dashed }
    &.b-dotted { border-right-style: dotted }
}

// off
.b-off { border-color: transparent !important; }

// color
$borders-colors: map-get($colors, border);
@each $name, $value in $borders-colors {
    .b-#{$name} { border-color: color(border, $name) }
}

// size
@each $name, $value in $borders {
    .b-#{$name} { border-width: $value }
    .b-top-#{$name} { border-top-width: $value; }
    .b-bottom-#{$name} { border-bottom-width: $value }
    .b-left-#{$name} { border-left-width: $value }
    .b-right-#{$name} { border-right-width: $value }
}

@include for-sm {
    .b-off-sm { border-color: transparent !important; }

    @each $name, $value in $borders {
        .b-#{$name}-sm { border-width: $value }
        .b-top-#{$name}-sm { border-top-width: $value }
        .b-bottom-#{$name}-sm { border-bottom-width: $value }
        .b-left-#{$name}-sm { border-left-width: $value }
        .b-right-#{$name}-sm { border-right-width: $value }
    }
}