// =Alignment
.align-left   { text-align: left; }
.align-center { text-align: center; }
.align-right  { text-align: right; }
.align-top { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-baseline { vertical-align: baseline; }
.align-bottom { vertical-align: bottom; }

@include for-sm {
    .align-left-sm { text-align: left; }
    .align-center-sm { text-align: center; }
    .align-right-sm { text-align: right; }
    .align-top-sm { vertical-align: top; }
    .align-middle-sm { vertical-align: middle; }
    .align-baseline-sm { vertical-align: baseline; }
    .align-bottom-sm { vertical-align: bottom; }
}