// =Background
[class^="bg-"],
[class*=" bg-"] {
    --background-color: transparent;
    background-color: var(--background-color);
}
$backgrounds: map-get($colors, background);
@each $name, $value in $backgrounds {
    .bg-#{"" + $name} { --background-color: #{$value}; }
}
// Dark theme
@include dark-theme {
    $backgrounds: map-get($colors-dark, background);
    @each $name, $value in $backgrounds {
        .bg-#{"" + $name} { --background-color: #{$value}; }
    }
}