.brand {
    // generate
    @include generate-type(brand);
    @include generate-colors(brand);

    // vars
    --brand-font-weight: bold;
    --brand-text-transform: none;
    --brand-letter-spacing: 0;

    // props
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    color: var(--brand-color);
    font-size: var(--brand-font-size);
    font-weight: var(--brand-font-weight);
    text-transform: var(--brand-text-transform);
    letter-spacing: var(--brand-letter-spacing);
}
a.brand:hover {
    @include transition;
    color: var(--brand-hover-color);
    text-decoration: underline;
}
// Dark theme
@include dark-theme {
    .brand {
        @include generate-dark-theme-colors(brand);
    }
}