// =Button
button,
.button {
    // vars
    --button-font-weight: normal;
    --button-border-radius: var(--radius-base);
    --button-line-height: 1.25;
    --button-padding-y: .4em;
    --button-padding-x: 18px;
    --button-border-width: 1px;
    --button-border-style: solid;
    --button-opacity: 1;
    --button-box-shadow: none;

    // Scales
    $button-scale: scale(button);
    @each $name, $value in $button-scale {
        @if $name == base {
            --button-height: #{$value};
        }
        @else {
            &-#{$name} {
                --button-height: #{$value};
            }
        }
    }

    // defaults
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-family: inherit;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;

    // props
    height: var(--button-height);
    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    border-radius: var(--button-border-radius);
    padding-top: var(--button-padding-y);
    padding-bottom: var(--button-padding-y);
    padding-left: var(--button-padding-x);
    padding-right: var(--button-padding-x);
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    box-shadow: var(--button-box-shadow);
    opacity: var(--button-opacity);
    color: var(--button-color);
    border-color: var(--button-border-color);
    background-color: var(--button-background-color);
    background-image: var(--button-background-image);

    // Hover
    &:hover {
        outline: none;
    }
    &:hover,
    &:focus {
        background-image: none;
        text-decoration: none;
        color: var(--button-hover-color);
        border-color: var(--button-hover-border-color);
        background-color: var(--button-hover-background-color);
        background-image: var(--button-hover-background-image);
        box-shadow: var(--button-hover-box-shadow);
    }
    // Disabled
    &.disabled,
    &:disabled {
        --button-opacity: 0.5;

        cursor: default;
        color: var(--button-disabled-color);
        border-color: var(--button-disabled-border-color);
        background-color: var(--button-disabled-background-color);
        background-image: var(--button-disabled-background-image);
        box-shadow: var(--button-disabled-box-shadow);
    }
    // Icons
    & .icon + span {
        margin-left: 6px;
    }
    & span + .icon {
        margin-left: 6px;
        margin-right: -3px;
    }
    // Caret
    .caret {
        font-weight: bold;
        margin-left: 2px;
        margin-right: -3px;
    }
}
button,
.button {
    // generate
    @include generate-type(button);
    @include generate-colors(button);
}
// Size
.button-large {
    --button-padding-x: 24px;
}
.button-small {
    --button-padding-x: 14px;
}
// Variants
.button-round {
    --button-border-radius: 99px;
    --button-padding-x: 1.2em;
}