//=CheckboxRadioGroup
.checkbox-group,
.radio-group {

    // params
    --checkbox-radio-group-space: 1em;

    .checkbox,
    .radio {
        display: inline-block;
        margin-bottom: 0;
        margin-right: var(--checkbox-radio-group-space);
    }
}
