// =Divider
.divider {
    // colors
    --divider-background-color: transparent;

    // params
    --divider-size: 1px;
    --divider-length: auto;

    // props
    width: var(--divider-length);
    height: var(--divider-size);
    background-color: var(--divider-background-color);
}
.divider-vertical {
    width: var(--divider-size);
    height: var(--divider-length);
}

// Size
$divider-scale: scale(divider);
@each $name, $value in $divider-scale {
    @if $name != 1 {
        .divider-#{$name} {
            --divider-size: #{$value};
        }
    }
}

// Length
$divider-length: scale(divider-length);
@each $name, $value in $divider-length {
    .divider-#{$name} {
        --divider-length: #{$value};
    }
}

// Colors
$dividercolors: map-get($colors, divider);
@each $name, $value in $dividercolors {
    .divider-#{$name} {
        --divider-background-color: #{$value};
    }

}
// Dark theme
@include dark-theme {
    $dividercolors: map-get($colors-dark, divider);
    @each $name, $value in $dividercolors {
        .divider-#{$name} {
            --divider-background-color: #{$value};
        }
    }
}