// =Form
.form {
    --form-item-space: var(--type-space-form-item-to-item);

    .form-item {
        margin-bottom: var(--form-item-space);
    }
    .form-item .form-item {
        margin-bottom: 0;
    }
}