// =Form
.form {
    --form-item-space: var(--type-space-form-item-to-item);
    --form-buttons-space: var(--type-space-form-buttons-to-item);

    .form-item {
        margin-bottom: var(--form-item-space);
    }
    .form-item .form-item {
        margin-bottom: 0;
    }
}
.form-checkboxes label.checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em;
}