// =Gradient
[class^="gr-"],
[class*=" gr-"] {
    --gradient-color: transparent;
    background: var(--gradient-color);
}
$gradients: map-get($colors, gradient);
@if $gradients != null {
    @each $name, $value in $gradients {
        .gr-#{$name} {
            --gradient-color: #{$value};
        }
    }
}
// Dark theme
@include dark-theme {
    $gradients: map-get($colors-dark, gradient);
    @if $gradients != null {
        @each $name, $value in $gradients {
            .gr-#{$name} {
                --gradient-color: #{$value};
            }
        }
    }
}