// =Hint
.hint {
    font-size: type-size(form, hint);
    line-height: type-line(form, hint);
    color: color(hint, default);

    // hint properties
    $hintvariant: variant(form, hint);
    @each $key, $value in $hintvariant {
        #{$key}: $value;
    }
}
div.hint {
    margin-top: 2px;
}
.hint-success {
    color: color(hint, success);
}
.hint-error {
    color: color(hint, error);
}
.hint-req {
    font-weight: bold;
    color: color(hint, required);
}