// =Hint
.hint {
    // colors
    --hint-color: var(--palette-black-50);

    // vars
    --hint-font-weight: normal;
    --hint-font-style: normal;

    // props
    font-size: type-size(form, hint);
    line-height: type-line(form, hint);
    font-weight: var(--hint-font-weight);
    font-style: var(--hint-font-style);
    color: var(--hint-color);
}
div.hint {
    margin-top: 2px;
}
.hint-success {
    --hint-color: var(--palette-positive-dark);
}
.hint-error {
    --hint-color: var(--palette-negative-dark);
}
.hint-req {
    --hint-color: var(--palette-negative-base);
    --hint-font-weight: bold;

    // props
    font-size: 105%;
}