// =Iconbox
.iconbox {
    // params
    --iconbox-space: #{scale(iconbox, base)};

    // props
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    line-height: 0;
    padding: var(--iconbox-space);
}

// Size
$iconbox-scale: scale(iconbox);
@each $key, $size in $iconbox-scale {
    @if $key != base {
        .iconbox-#{$key} {
            --iconbox-space: #{$size};
        }
    }
}