// =Icon
.icon {
    --icon-size: 1em;
    --icon-color: currentColor;

    display: inline-block;

    & svg {
        display: inline-block;
        vertical-align: middle;
    }
}
.icon-text {
    --icon-size: 1em;
    --icon-color: currentColor;

    display: inline-flex;
    align-self: center;
    top: .125em;
    position: relative;
}
.icon,
.icon-text {
    & svg {
        fill: var(--icon-color);
        height: var(--icon-size);
        width: var(--icon-size);
    }
}

// Colors
$iconcolors: map-get($colors, icon);
@each $name, $value in $iconcolors {
    .icon-#{$name},
    a.icon-#{$name} {
        --icon-color: var(--icon-#{$name});
    }
}

// Size
$icons: scale(icon);
@each $key, $size in $icons {
    .icon-#{$key} {
        --icon-size: #{$size};
    }
}
@include for-sm {
    @each $key, $size in $icons {
        .icon-#{$key}-sm {
            --icon-size: #{$size};
        }
    }
}

// Box
[class^="icon-box-"],
[class*=" icon-box-"] {
    --icon-box-size: 1em;

    width: var(--icon-box-size);
    height: var(--icon-box-size);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}
@each $key, $size in $icons {
    .icon-box-#{$key} {
        --icon-box-size: #{$size};
    }
}
@include for-sm {
    @each $key, $size in $icons {
        .icon-box-#{$key}-sm {
            --icon-box-size: #{$size};
        }
    }
}