// =Input
input,
textarea,
select {
    display: block;
    width: 100%;
    font-family: inherit;
    vertical-align: middle;
    font-weight: normal;

    &:disabled  {
       resize: none;
       opacity: 0.6;
       cursor: default;
    }
}
// Generate
@include generate-variants('.input', input, false, 'input, textarea, select');
@include generate-type(input, '.input', 'input, textarea, select');

// Scales
$input-scale: scale(input);
@each $name, $value in $input-scale {
    @if $name == base {
        input,
        textarea,
        select {
            height: $value;
        }
    }
    @else {
        input,
        select {
            &.input-#{$name} {
                height: $value;
            }
        }
    }
}

.input-light {
    @include placeholder(color(placeholder, light));
}

textarea {
    resize: vertical;
    height: auto;
    vertical-align: top;
}
select {
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg height="10" viewBox="0 0 7 10" width="7" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(0,0,0)" opacity=".6" d="m.7843055 6.08859116.06924789.05785545 2.64644661 2.64655339 2.64644661-2.64655339c.19526215-.19526215.51184463-.19526215.70710678 0 .17356635.17356635.1928515.44299075.05785545.63785889l-.05785545.06924789-3 3c-.06508738.06508738-.1436548.10847897-.22671557.13017476l-.08422571.01446387h-.08522422c-.11341042-.00964258-.2241581-.05785545-.31094128-.14463863l-3-3c-.19526215-.19526215-.19526215-.51184463 0-.70710678.15187056-.15187056.37713243-.18561957.56162136-.10124704zm3-6 .06924789.05785545 3 3c.19526215.19526215.19526215.51184463 0 .70710678-.17356635.17356635-.44299075.1928515-.63785889.05785545l-.06924789-.05785545-2.64644661-2.64655339-2.64644661 2.64655339c-.19526214.19526215-.51184463.19526215-.70710678 0-.17356635-.17356635-.1928515-.44299075-.05785545-.63785889l.05785545-.06924789 3-3c.08678318-.08678318.19753086-.13499605.31094128-.14463863h.08522422c.08505781.00723193.16861784.03615966.24169339.08678318z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.65em center;
    padding-right: 28px !important;
}
@media (prefers-color-scheme: dark) {
    select {
        background-image: url('data:image/svg+xml;utf8,<svg height="10" viewBox="0 0 7 10" width="7" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(255,255,255)" opacity=".6" d="m.7843055 6.08859116.06924789.05785545 2.64644661 2.64655339 2.64644661-2.64655339c.19526215-.19526215.51184463-.19526215.70710678 0 .17356635.17356635.1928515.44299075.05785545.63785889l-.05785545.06924789-3 3c-.06508738.06508738-.1436548.10847897-.22671557.13017476l-.08422571.01446387h-.08522422c-.11341042-.00964258-.2241581-.05785545-.31094128-.14463863l-3-3c-.19526215-.19526215-.19526215-.51184463 0-.70710678.15187056-.15187056.37713243-.18561957.56162136-.10124704zm3-6 .06924789.05785545 3 3c.19526215.19526215.19526215.51184463 0 .70710678-.17356635.17356635-.44299075.1928515-.63785889.05785545l-.06924789-.05785545-2.64644661-2.64655339-2.64644661 2.64655339c-.19526214.19526215-.51184463.19526215-.70710678 0-.17356635-.17356635-.1928515-.44299075-.05785545-.63785889l.05785545-.06924789 3-3c.08678318-.08678318.19753086-.13499605.31094128-.14463863h.08522422c.08505781.00723193.16861784.03615966.24169339.08678318z"/></svg>');
    }
}
select.input-light {
    background-image: url('data:image/svg+xml;utf8,<svg height="10" viewBox="0 0 7 10" width="7" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(255,255,255)" opacity=".6" d="m.7843055 6.08859116.06924789.05785545 2.64644661 2.64655339 2.64644661-2.64655339c.19526215-.19526215.51184463-.19526215.70710678 0 .17356635.17356635.1928515.44299075.05785545.63785889l-.05785545.06924789-3 3c-.06508738.06508738-.1436548.10847897-.22671557.13017476l-.08422571.01446387h-.08522422c-.11341042-.00964258-.2241581-.05785545-.31094128-.14463863l-3-3c-.19526215-.19526215-.19526215-.51184463 0-.70710678.15187056-.15187056.37713243-.18561957.56162136-.10124704zm3-6 .06924789.05785545 3 3c.19526215.19526215.19526215.51184463 0 .70710678-.17356635.17356635-.44299075.1928515-.63785889.05785545l-.06924789-.05785545-2.64644661-2.64655339-2.64644661 2.64655339c-.19526214.19526215-.51184463.19526215-.70710678 0-.17356635-.17356635-.1928515-.44299075-.05785545-.63785889l.05785545-.06924789 3-3c.08678318-.08678318.19753086-.13499605.31094128-.14463863h.08522422c.08505781.00723193.16861784.03615966.24169339.08678318z"/></svg>');
}
select[multiple] {
    background-image: none;
    height: auto !important;
}

// =File
input[type="file"] {
    width: auto;
    border: none;
    padding: 0;
    font-size: 13px;
    height: auto !important;
    background: none;
    box-shadow: none;
    display: inline-block;
}

// =Radio & Checkbox
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 0;

    &.input-error {
        outline: 2px solid color(input, error, base, border-color);
    }
}

// =Addon
.input-addon {
    display: flex;

    // scales
    $input-scale: scale(input);
    @each $name, $value in $input-scale {
        @if $name == base {
            height: $value;
        }
        @else {
            &-#{$name} {
                height: $value;
            }
        }
    }

    & input,
    & select {
        flex: 1;
        margin-left: -1px;
        margin-right: -1px;
    }
    .input-addon-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
    }

    // variants
    @include generate-type(input);
    @include generate-variants('.input-addon', input-addon, true);

    & > {
        :not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        :not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

// =InnerAddon
.inner-addon {
    position: relative;

    // scales
    $input-scale: scale(input);
    @each $name, $value in $input-scale {
        @if $name == base {
            height: $value;
        }
        @else {
            &-#{$name} {
                height: $value;
            }
        }
    }

    .inner-addon-item {
        position: absolute;
        top: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        pointer-events: none;
        height: inherit;
    }
    .inner-addon-clickable {
        pointer-events: auto;
    }

    // variants
    @include generate-type(input);
    @include generate-variants('.inner-addon', inner-addon, true);
}
.inner-addon-right {
    .inner-addon-item {
        right: 0;
    }
}
.inner-addon-both {
    .inner-addon-item:last-child {
        right: 0;
    }
}