// =Input-Addon
.input-addon {
    // generate
    @include generate-type(input-addon);
    @include generate-colors(input-addon);

    // params
    --input-addon-padding: 0 0.85em;
    --input-addon-border-radius: var(--radius-small);

    // props
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-size: var(--input-addon-font-size);
    padding: var(--input-addon-padding);
    border-radius: var(--input-addon-border-radius);
    color: var(--input-addon-color);
    background-color: var(--input-addon-background-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-addon-border-color);
}