// =Input-Addon
.input-addon {
    // colors
    --input-addon-color: var(--palette-black-60);
    --input-addon-background-color: var(--palette-black-5);
    --input-addon-border-color: var(--palette-black-10);

    // params
    --input-addon-font-size: 14px;
    --input-addon-padding: 0 0.85em;
    --input-addon-border-radius: var(--radius-small);
    --input-addon-border-width: 1px;
    --input-addon-border-style: solid;

    // props
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-size: var(--input-addon-font-size);
    padding: var(--input-addon-padding);
    border-radius: var(--input-addon-border-radius);
    color: var(--input-addon-color);
    background-color: var(--input-addon-background-color);
    border-width: var(--input-addon-border-width);
    border-style: var(--input-addon-border-style);
    border-color: var(--input-addon-border-color);
}
// Dark theme
@include dark-theme {
    .input-addon {
        --input-addon-color: var(--palette-white-60);
        --input-addon-background-color: var(--palette-white-10);
        --input-addon-border-color: transparent;
    }
}