//=Label
label {
    // generate
    @include generate-type(label);
    @include generate-colors(label);

    // params
    --label-font-weight: normal;
    --label-font-style: normal;
    --label-text-transform: none;
    --label-letter-spacing: 0;
    --label-margin-bottom: 0.15em;

    // props
    display: block;
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    font-style: var(--label-font-style);
    line-height: var(--label-line-height);
    text-transform: var(--label-text-transform);
    letter-spacing: var(--label-letter-spacing);
    color: var(--label-color);
    margin-bottom: var(--label-margin-bottom);
}