// =Link
.link-stretched {
    @include stretched;
}
.link-strong {
    font-weight: bold;
}
.link-semibold {
    font-weight: 600;
}
.link-italic {
    font-style: italic;
}
.link-block {
    display: block;
}
.link-underline {
    text-decoration: underline;
}
.link-underline-off {
    text-decoration: none;
}
.link-ghost {
    text-decoration: none;
}
.link-ghost:hover {
    text-decoration: underline;
}

// Color
$link-colors: map-get($colors, link);
@each $variant, $map in $link-colors {
    $sel: '.link';
    @if $variant != default {
        $sel: '.link-' + $variant;
    }

    #{$sel} {
        // colors
        @each $key, $value in $map {
            --link-#{$key}: var(--link-#{$variant}-#{$key});
        }

        // props
        color: var(--link-color);
        &:hover {
            color: var(--link-hover-color);
        }

    }
}