// =Link
.link-stretched {
    @include stretched;
}
.link-strong {
    font-weight: bold;
}
.link-semibold {
    font-weight: 600;
}
.link-italic {
    font-style: italic;
}
.link-block {
    display: block;
}
.link-underline {
    text-decoration: underline;
}
.link-underline-off {
    text-decoration: none;
}
.link-ghost {
    text-decoration: none;
}
.link-ghost:hover {
    text-decoration: underline;
}

[class^="link-"],
[class*=" link-"] {
    --link-color: var(--link-default-color);
    --link-hover-color: var(--link-default-hover-color);
    --link-background-color: transparent;
    --link-hover-background-color: transparent;

    color: var(--link-color);
    background-color: var(--link-background-color);
    &:hover {
        color: var(--link-hover-color);
        background-color: var(--link-hover-background-color);
    }
}

// Color
$link-colors: map-get($colors, link);
@each $name, $map in $link-colors {
    $sel: '.link';
    @if $name != default {
        $sel: '.link-' + $name;
    }

    #{$sel} {
        @each $key, $value in $map {
            --link-#{$key}: var(--link-#{$name}-#{$key});
        }
    }
}