// =List
.list-unstyled,
.list-inline,
.list-checkmark,
.list-dashed {
    list-style: none;
    margin-left: 0;
}
.list-inline li {
    display: inline;
    white-space: nowrap;
    margin-right: 0.25em;
}
.list-checkmark,
.list-dashed {
    --list-mark-color: var(--text-default);
}
.list-checkmark li:before {
    content: "\2713";
    margin-right: 4px;
    color: var(--list-mark-color);
}
.list-dashed li:before {
    content: "\2014";
    margin-right: 6px;
    color: var(--list-mark-color);
}
.list {
    // vars
    --list-font-size: var(--type-scale-15);
    --list-line-height: 1.3;
    --list-item-space: 0;
    --list-item-padding-y: 6px;
    --list-item-padding-x: 0;
    --list-item-color: var(--text-default);

    // props
    list-style: none;
    margin-left: 0;

    .list-item {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        font-size: var(--list-font-size);
        line-height: var(--list-line-height);
        padding-top: var(--list-item-padding-y);
        padding-bottom: var(--list-item-padding-y);
        padding-left: var(--list-item-padding-x);
        padding-right: var(--list-item-padding-x);
        color: var(--list-item-color);
        margin-bottom: var(--list-item-space);
    }
    .list-item .list {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 5rem;
    }
    .list + h4,
    .list + h5,
    .list + h6 {
        margin-top: 5rem;
    }
    & .label {
        margin-top: -2px;
    }
}
.list-small {
    --list-font-size: var(--type-scale-13);
}
.list-medium {
    --list-font-size: var(--type-scale-14);
}

// Spacing
$spacing-menu: scale(spacing-menu);
@each $name, $value in $spacing-menu {
    .list-item-space-#{$name} {
        --list-item-space: #{$value} !important;
    }
}
$padding-menu: scale(padding-menu);
@each $name, $value in $padding-menu {
    .list-item-padding-#{$name} {
        --list-item-padding-y: #{$value} !important;
    }
}

// =Stacked
.list-stacked {
    --list-item-padding-y: 8px;
    --list-item-padding-x: 0;
    --list-item-border-width: 1px;
    --list-item-border-style: solid;
    --list-item-border-color: var(--palette-black-7);

    .list-item {
        border-bottom-width: var(--list-item-border-width);
        border-bottom-style: var(--list-item-border-style);
        border-bottom-color: var(--list-item-border-color);
    }
    .list-item:last-child {
        border-bottom-color: transparent;
    }
}

// =Bordered
.list-bordered {
    // vars
    --list-border-width: 1px;
    --list-border-style: solid;
    --list-border-radius: var(--radius-base);
    --list-border-color: var(--palette-black-7);
    --list-item-padding-y: 6px;
    --list-item-padding-x: 12px;
    --list-item-space: 1px;

    // props
    border-width: var(--list-border-width);
    border-radius: var(--list-border-radius);
    border-style: var(--list-border-style);
    border-color: var(--list-border-color);

    .list-item:last-child {
        margin-bottom: 0;
    }
}

// =Numbered
.list-numbered {
    // vars
    --list-number-font-size: 80%;
    --list-number-width: 24px;
    --list-number-color: var(--palette-black-60);

    // props
    counter-reset: table-of-contents;

    .list-item {
        counter-increment: table-of-contents;
    }
    .list-item:before {
        width: var(--list-number-width);
        font-size: var(--list-number-font-size);
        content: counter(table-of-contents, decimal-leading-zero);
        color: var(--list-number-color);
    }
}
.list-numbered-right {
    .list-item {
        position: relative;
        padding-right: calc(var(--list-number-width)+4px);
    }
    .list-item:before {
        display: none;
    }
    .list-item:after {
        position: absolute;
        right: 0;
        width: var(--list-number-width);
        font-size: var(--list-number-font-size);
        content: counter(table-of-contents, decimal-leading-zero);
        text-align: right;
        color: var(--list-number-color);
    }
}

// Light
.list-light {
    --list-item-color: var(--text-light);

    &.list-numbered {
        --list-number-color: var(--palette-white-60);
    }
    &.list-stacked {
        --list-border-color: var(--palette-white-20);
    }
}