// =Menu
.menu {
    // vars
    --menu-font-size: var(--type-scale-15);
    --menu-line-height: 1.3;
    --menu-link-padding-x: 0;
    --menu-link-padding-y: 6px;
    --menu-item-space: 0;
    --menu-item-padding: 0;

    // props
    font-size: var(--menu-font-size);
    line-height: var(--menu-line-height);

    .menu-item {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        padding: var(--menu-item-padding);
        margin-bottom: var(--menu-item-space);
    }
    .menu-item:last-child {
        margin-bottom: 0;
    }
    .menu-item.active .menu-link {
        cursor: text;
        text-decoration: none;
        color: var(--menu-link-active-color);
        background-color: var(--menu-link-active-background-color);
    }
    .menu-link {
        display: flex;
        align-items: center;
        flex: 1;
        text-decoration: none;
        padding-top: var(--menu-link-padding-y);
        padding-bottom: var(--menu-link-padding-y);
        padding-left: var(--menu-link-padding-x);
        padding-right: var(--menu-link-padding-x);
        color: var(--menu-link-color);
        background-color: var(--menu-link-background-color);
    }
    .menu-link:hover {
        text-decoration: underline;
        color: var(--menu-link-hover-color);
        background-color: var(--menu-link-hover-background-color);
    }
    .menu-list .menu-list {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 5rem;
    }
    .menu-list + h4,
    .menu-list + h5,
    .menu-list + h6 {
        margin-top: 5rem;
    }
    & .label {
        margin-top: -2px;
    }
}
// Scales
.menu-small {
    --menu-font-size: var(--type-scale-13);
}
.menu-medium {
    --menu-font-size: var(--type-scale-14);
}

// Variants
.menu-semibold {
    .menu-link {
        font-weight: 600;
    }
}
.menu-strong {
    .menu-link {
        font-weight: bold;
    }
}

// Underline
.menu-underline {
    .menu-link {
        text-decoration: underline;
    }
}
.menu-underline-off {
    .menu-link:hover {
        text-decoration: none;
    }
}

// Stacked
.menu-stacked {
    --menu-link-padding-y: 8px;
    --menu-item-border-width: 1px;
    --menu-item-border-style: solid;

    .menu-item {
        border-bottom-width: var(--menu-item-border-width);
        border-bottom-style: var(--menu-item-border-style);
        border-bottom-color: var(--menu-item-border-color);
    }
    .menu-item:last-child {
        border-bottom-color: transparent;
    }
}

// Pills
.menu-pills {
    --menu-link-padding-y: 6px;
    --menu-link-padding-x: 10px;
    --menu-link-border-radius: var(--radius-base);
    --menu-item-space: 1px;

    .menu-link {
        border-radius: var(--menu-link-border-radius);
    }
}

// =Numbered
.menu-numbered {
    --menu-number-font-size: 80%;
    --menu-number-width: 24px;

    .menu-list {
        counter-reset: table-of-contents;
    }
    .menu-item {
        counter-increment: table-of-contents;
    }
    .menu-item:before {
        width: var(--menu-number-width);
        font-size: var(--menu-number-font-size);
        content: counter(table-of-contents, decimal-leading-zero);
        color: var(--menu-number-color);
    }
}
.menu-numbered-right {
    .menu-item:before {
        display: none;
    }
    .menu-item:after {
        width: var(--menu-number-width);
        font-size: var(--menu-number-font-size);
        content: counter(table-of-contents, decimal-leading-zero);
        text-align: right;
    }
}

// Colors
.menu {
    @include generate-colors(menu);
}