// =Row
.row {
    display: flex;
    flex-wrap: wrap;

    .input {
        width: auto;
        flex: 1 0 auto;
    }
    & > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// Size
$spacing-scale: scale(spacing);
@each $name, $index in $spacing-scale {
    .row-#{$name} {
        gap: $unit * $index;
    }
}

// Responsive
@include for-sm {
    .row-column-sm {
        flex-direction: column;
    }
}