// =Shadow
.sh-off {
    box-shadow: none;
}
[class^="shadow-"],
[class*=" shadow-"] {
    --shadow: none;
    box-shadow: var(--shadow);
}

$shadows: map-get($colors, shadow);
@each $type, $value in $shadows {
    .shadow-#{$type} { --shadow: var(--shadow-#{$type}); }
}