// =Sizing
.w-off {
    max-width: none;
    min-width: none;
    width: auto;
}
.max-full,
.w-full {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
$width-scale: scale(width);
@each $name, $width in $width-scale {
    .max-#{$name} {
        width: $width;
        min-width: $width;
        max-width: $width;
    }
}
@include for-sm {
    .max-off-sm {
        max-width: none;
        min-width: none;
        width: auto;
    }
}

// Height & width
.h-off {
    height: auto;
}
.h-full {
    height: 100%;
}
.vh-full {
    min-height: 100vh;
}
$sizes: scale(spacing);
@each $name, $size in $sizes {
    .h-#{$name} { height: $unit * $size !important; }
    .w-#{$name} { width: $unit * $size !important; }
}
@include for-sm {
    .max-full-sm  {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    @each $name, $size in $sizes {
        .h-#{$name}-sm { height: $unit * $size !important; }
        .w-#{$name}-sm { width: $unit * $size !important; }
    }
    .h-off-sm { height: auto !important; }
    .w-off-sm { width: auto !important; }
}