// =Sizing
.w-off {
    max-width: none;
    min-width: none;
    width: auto;
}
$width-scale: scale(width);
@each $name, $width in $width-scale {
    .w-#{$name} {
        width: $width;
        min-width: $width;
        max-width: $width;
    }
}
@include for-sm {
    .w-off-sm {
        max-width: none;
        min-width: none;
        width: auto;
    }
}

// Height
.h-off {
    height: auto;
}
.h-full {
    height: 100%;
}
.vh-full {
    min-height: 100vh;
}
$height-scale: scale(spacing);
@each $name, $height in $height-scale {
    .h-#{$name} {
        height: $unit * $height !important;
    }
}
@include for-sm {
    @each $name, $height in $height-scale {
        .h-#{$name}-sm {
            height: $unit * $height !important;
        }
    }
    .h-off-sm {
        height: auto !important;
    }
}