// =Sizing
.w-off {
    max-width: none;
    min-width: none;
    width: auto;
}
$width-scale: scale(width);
@each $name, $width in $width-scale {
    .w-#{$name} {
        width: $width;
        min-width: $width;
        max-width: $width;
    }
}
@include for-sm {
    .w-off-sm {
        max-width: none;
        min-width: none;
        width: auto;
    }
}

// Height
.h-full {
    min-height: 100vh;
}