// =Table
.table-scrollable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.table-bordered {
    --table-border-color: var(--table-default-border-color);

    td,
    th {
        padding: 0.75em;
        border: 1px solid var(--table-border-color);
    }
}
.table-striped {
    --table-stripe-color: var(--table-default-stripe-color);

    td,
    th {
        padding: 0.75em;
    }
    tr:nth-child(odd) td {
        background-color: var(--table-stripe-color);
    }
}