// =Text
.text-thin {
    font-weight: 300;
}
.text-semibold {
    font-weight: 600;
}
.text-strong {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.text-mono {
    font-family: var(--font-mono);
}
.text-caps {
    text-transform: uppercase;
    letter-spacing: .035em;
}
.text-nowrap {
    &,
    & td,
    & th {
        white-space: nowrap;
    }
}

// Size
.text { @include generate-text-size(scale(type), std); }
@include for-lg { .text { @include generate-text-size(scale(type-lg), lg); }}
@include for-md { .text { @include generate-text-size(scale(type-md), md); }}
@include for-sm { .text { @include generate-text-size(scale(type-sm), sm); }}

// Color
$text-colors: map-get($colors, text);
@each $variant, $value in $text-colors {
    $sel: '.text';
    @if $variant != default {
        $sel: '.text-' + $variant;
    }

    #{$sel} {
        color: var(--text-#{$variant});
    }
}

// Gradient
$gradients: map-get($colors, text-gradient);
@each $name, $value in $gradients {
    .text-gr-#{$name} {
        background-image: $value;
    }
}
[class^="text-gr-"],
[class*=" text-gr-"] {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    a,
    a:hover {
        opacity: 1;
    }
}