// =Animation
@keyframes slideUp {
    to { height: 0; padding-top: 0; padding-bottom: 0; margin-bottom: 0; }
}
@keyframes slideDown {
    from { height: 0; padding-top: 0; padding-bottom: 0; margin-bottom: 0; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}