.input-number {
    // params
    --input-number-space: 40px;
    --input-number-size: 16px;
    --input-number-border-radius: var(--radius-base);

    // props
    position: relative;
    display: inline-flex;

    & input[type=number]::-webkit-inner-spin-button,
    & input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & input[type=number] {
        -moz-appearance: textfield;
        width: auto;
        text-align: center;
    }
    & input {
        padding-left: var(--input-number-space);
        padding-right: var(--input-number-space);
    }
}
.input-number-down,
.input-number-up {
    position: absolute;
    height: 100%;
    top: 0;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font-size: var(--input-number-size);
}
.input-number-up {
    right: 0;
}
// Variants
.input-number-light {
    color: var(--text-light);
}