// =Keyframe
@keyframes progress-bar-stripes {
    from { background-position: 40px 0; }
    to { background-position: 0 0; }
}

// =Progress
.progress {
    // colors
    --progress-stripe-angle: 45deg;
    --progress-stripe: var(--palette-white-20);
    --progress-status-color: var(--palette-black);
    --progress-track-background-color: var(--palette-black-20);
    --progress-fill-background-color: var(--palette-active-base);

    // vars
    --progress-font-size: 13px;
    --progress-line-height: 1.3;
    --progress-border-radius: var(--radius-base);
    --progress-height: 8px;
    --progress-status-margin-bottom: 1rem;

    .progress-status {
        display: flex;
        margin-bottom: var(--progress-status-margin-bottom);
        font-size: var(--progress-font-size);
        line-height: var(--progress-line-height);
        color: var(--progress-status-color);
    }
    .progress-status:empty {
        display: none;
    }
    .progress-label {
        flex: 1;
    }
    .progress-track {
        width: 100%;
        border-radius: var(--progress-border-radius);
        background-color: var(--progress-track-background-color);
    }
    .progress-fill {
        width: 100%;
        height: var(--progress-height);
        min-height: var(--progress-height);
        border-radius:var(--progress-border-radius);
        background-color: var(--progress-fill-background-color);
    }
}
.progress-fixed {
    --progress-border-radius: 0;

    // props
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11000;
    width: 100%;
}
.progress-striped {
    .progress-fill {
        animation: progress-bar-stripes 2s linear infinite;
        background-image: linear-gradient(var(--progress-stripe-angle), var(--progress-stripe) 25%, transparent 25%, transparent 50%, var(--progress-stripe) 50%, var(--progress-stripe) 75%, transparent 75%, transparent);
        background-size: 40px 40px;
    }
}