// Colors
$colors: map-extend($colors, (
    card: (
        background: palette(white)
    )
));

// Module
.card {
    background-color: color(card, background);
    box-shadow: shadow(neutral, 150);
    padding: 8rem 4rem;
    border-radius: radius(base);
}