// =Shadow
.sh-off {
    box-shadow: none;
}
[class^="sh-"],
[class*=" sh-"] {
    --shadow: none;
    box-shadow: var(--shadow);
}

$shadows: map-get($colors, shadow);
@each $type, $value in $shadows {
    .sh-#{$type} { --shadow: var(--shadow-#{$type}); }
}