// =Font
$font-alpha: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
$font-bravo: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// =Semantic Font
$font-text: $font-alpha;
$font-heading: inherit;
$font-monospace: $font-bravo;

// =Unit
$unit: 4px;

// =Body Text
$body-size: 16px;
$body-line: 1.5;

// =DarkTheme
$dark-class: null;