// =Scale
$buttons-scale: (
    regular: (
        font-size: type-size(button, regular),
        border-radius: radius(base),
        padding: .4em 20px .4em 20px,
        height: 44px
    ),
    large: (
        font-size: type-size(button, large),
        border-radius: radius(base),
        padding: .4em 32px .4em 32px,
        height: 56px
    )
);

// =Appearance
$buttons: (
    default: (
        base: (
            font-weight: normal,
            text-transform: none,
            color: color(button, default, base, text),
            border: 1px solid color(button, default, base, border),
            background-color: color(button, default, base, background)
        ),
        hover: (
            color: color(button, default, hover, text),
            border: 1px solid color(button, default, hover, border),
            background-color: color(button, default, hover, background)
        ),
        disabled: (
            color: color(button, default, disabled, text),
            border: 1px solid color(button, default, disabled, border),
            background-color: color(button, default, disabled, background)
        )
    ),
    primary: (
        base: (
            font-weight: normal,
            text-transform: none,
            color: color(button, primary, base, text),
            border: 1px solid color(button, primary, base, border),
            background-color: color(button, primary, base, background)
        ),
        hover: (
            color: color(button, primary, hover, text),
            border: 1px solid color(button, primary, hover, border),
            background-color: color(button, primary, hover, background)
        ),
        disabled: (
            color: color(button, primary, disabled, text),
            border: 1px solid color(button, primary, disabled, border),
            background-color: color(button, primary, disabled, background),
            opacity: 0.4
        )
    )
);