// =Colors
$colors: map-extend($colors, (
    border: (
        alpha: rgba(palette(black), .07)
    ),
    background: (
        page: palette(white),
        alpha: palette(neutral, lighter),
        bravo: palette(brand, platinum)
    ),
    icon: (
        blue: palette(brand, blue),
        violet: palette(brand, violet)
    )
), true);