// =ColorsDark
$colors-dark: (
    placeholder: (
        dark: rgba(palette-dark(white), .4)
    ),
    text: (
        dark: rgba(palette-dark(white), .95),
        default: rgba(palette-dark(white), .95),
        moderated: rgba(palette-dark(white), .7),
        muted: rgba(palette-dark(white), .5),
        success: palette-dark(positive, light),
        error: palette-dark(negative, light),
        light: palette-dark(white),
        light-moderated: rgba(palette-dark(white), .8),
        light-muted: rgba(palette-dark(white), .5)
    ),
    heading: (
        default: rgba(palette-dark(white), .95),
        moderated: rgba(palette-dark(white), .7),
        muted: rgba(palette-dark(white), .5),
        light: palette-dark(white),
        light-moderated: rgba(palette-dark(white), .8)
    ),
    link: (
        default: (
            base: palette-dark(active, light),
            hover: palette-dark(negative, light)
        ),
        dark: (
            base: rgba(palette-dark(white), .95),
            hover: rgba(palette-dark(white), .6)
        ),
        moderated: (
            base: rgba(palette-dark(white), .7),
            hover: rgba(palette-dark(white), .95)
        ),
        light: (
            base: palette-dark(white),
            hover: rgba(palette-dark(white), .6)
        ),
        light-moderated: (
            base: rgba(palette-dark(white), .7),
            hover: palette-dark(white)
        )
    ),
    pre: (
        background: palette-dark(surface, depth-20),
        text: rgba(palette-dark(white), .95)
    ),
    table: (
        cell: (
            border: rgba(palette-dark(white), .12)
        )
    ),
    form: (
        label: (
            text: rgba(palette-dark(white), .95)
        )
    ),
    inline: (
        var: (
            text: rgba(palette-dark(white), .85)
        ),
        kbd: (
            border: rgba(palette-dark(white), .15),
            text: rgba(palette-dark(white), .85)
        ),
        code: (
            background: palette-dark(surface, depth-20),
            text: rgba(palette-dark(white), .85)
        )
    ),
    button: (
        default: (
            base: (
                background: palette-dark(surface, base),
                border: rgba(palette-dark(white), .25),
                text: rgba(palette-dark(white), .95)
            ),
            hover: (
                background: palette-dark(surface, depth-30),
                border: rgba(palette-dark(white), .15),
                text: rgba(palette-dark(white), .95)
            ),
            disabled: (
                background: palette-dark(surface, base),
                border: rgba(palette-dark(white), .25),
                text: rgba(palette-dark(white), .75)
            )
        ),
        primary: (
            base: (
                background: palette-dark(active, base),
                border: transparent,
                text: palette-dark(active, lighter)
            ),
            hover: (
                background: palette-dark(active, dark),
                border: transparent,
                text: palette-dark(active, lighter)
            ),
            disabled: (
                background: palette-dark(surface, depth-10),
                border: transparent,
                text: rgba(palette-dark(white), .75)
            )
        )
    ),
    input: (
        default: (
            base: (
                text: rgba(palette-dark(white), .95),
                border: rgba(palette-dark(white), .15),
                background: palette-dark(surface, depth-30)
            ),
            focus: (
                border: rgba(palette-dark(white), .4),
                shadow: none
            )
        ),
        error: (
            base: (
                text: palette-dark(negative, base),
                border: palette-dark(negative, base),
                shadow: none
            ),
            focus: (
                border: palette-dark(negative, light)
            )
        )
    ),
    hint: (
        default: rgba(palette-dark(white), .55),
        success: palette-dark(positive, light),
        error: palette-dark(negative, light),
        required: palette-dark(negative, light)
    ),
    line: (
        default: rgba(palette-dark(white), .1)
    ),
    shadow: (
        neutral: (
            100: (
                1: rgba(palette-dark(black), .3),
                2: rgba(palette-dark(black), .15)
            ),
            200: (
                1: rgba(palette-dark(black), .4),
                2: rgba(palette-dark(black), .15)
            ),
            300: rgba(palette-dark(black), .6)
        )
    ),
    border: (
        alpha: rgba(palette-dark(white), .07)
    ),
    text-gradient: (),
    gradient: (),
    background: (
        page: palette-dark(surface, base),
        alpha: palette-dark(surface, depth-30),
        bravo: palette-dark(surface, depth-40)
    ),
    icon: (
        blue: palette-dark(brand, blue),
        violet: palette-dark(brand, violet)
    ),
    card: (
        background: palette-dark(surface, depth-10)
    )
);