// =Line
$lines: (
    default: (
        margin-top: 1.5em,
        margin-bottom: 1.5em,
        color: color(line, default),
        height: 1px,
        width: 100%,
        align: left,
        style: solid
    )
);