// =Palette
$palette: (
    black: #031927,
    white: #ffffff,
    neutral: (
        darker: #223542,
        dark: #42525D,
        base: #818C93,
        light: #CDD1D4,
        lighter: #F5F6F7
    ),
    negative: (
        darker: #A0495A,
        dark: #D05869,
        base: #F56476,
        light: #FBC1C8,
        lighter: #FEEFF1
    ),
    positive: (
        darker: #2E735B,
        dark: #47A97A,
        base: #59CD90,
        light: #BDEBD3,
        lighter: #EEFAF3
    ),
    active: (
        darker: #2957A8,
        dark: #346AD0,
        base: #3D79EF,
        light: #B1C9F9,
        lighter: #EBF1FD
    ),
    brand: (
        platinum: #E0E4EA,
        blue: #3C79EF,
        violet: #9968EA
    )
);