// =Type
$type: (
    base: (
        h1: 48px 1.1,
        h2: 28px 1.3,
        h3: 21px 1.4,
        h4: 16px 1.5,
        quote: 115% 1.5,
        quotecite: 12px 1.5,
        table: 95% 1.5,
        pre: 90% 1.5
    ),
    text: (
        small: 12px 1.5,
        medium: 14px 1.5,
        regular: 16px 1.5,
        large: 21px 1.5
    ),
    heading: (
        mega: 72px 1.1,
        huge: 60px 1.1,
        large: 48px 1.1,
        medium: 24px 1.3,
        small: 16px 1.5
    ),
    input: (
        regular: 16px 1.5,
        large: 21px 1.5
    ),
    button: (
        regular: 15px 1.25,
        large: 16px 1.25
    ),
    form: (
        label: 16px 1.5
    )
);

$type-sm: (
    heading: (
        mega: 60px 1.1
    )
);
$type-md: ();
$type-lg: ();

// Space
$type-space: (
    h1-to-tag: 3rem,
    h2-to-tag: 3rem,
    h3-to-tag: 3rem,
    h4-to-tag: 2rem,
    h5-to-tag: 1rem,
    h6-to-tag: 1rem,
    tag-to-tag: 5rem,
    tag-to-h2: 8rem,
    tag-to-h3: 8rem,
    tag-to-h4: 8rem,
    tag-to-h5: 8rem,
    tag-to-h6: 8rem,
    form-item-to-item: 5rem,
    form-buttons-to-item: 6rem
);