:root {
    @include generate-root-colors($colors);
}
@if $dark-class == null {
    @media (prefers-color-scheme: dark) {
        :root {
            @include generate-root-colors($colors-dark);
        }
    }
}
@else {
    html.#{$dark-class} {
        @include generate-root-colors($colors-dark);
    }
}