// =Body
html {
    font-size: var(--unit);
}
body {
    // colors
    --body-color: var(--text-default);
    --body-background-color: var(--body-default);

    // props
    font-family: var(--font-text);
    font-size: var(--body-text-size);
    line-height: var(--body-text-line);
    min-height: 100vh;
    color: var(--body-color);
    background-color: var(--body-background-color);
}

// // =Placeholder
@include placeholder(var(--placeholder-default));

// // =TypeSpace
h1 + * { margin-top: var(--type-space-h1-to-tag); }
h2 + * { margin-top: var(--type-space-h2-to-tag); }
h3 + * { margin-top: var(--type-space-h3-to-tag); }
h4 + * { margin-top: var(--type-space-h4-to-tag); }
h5 + * { margin-top: var(--type-space-h5-to-tag); }
h6 + * { margin-top: var(--type-space-h6-to-tag); }

p, ul, ol, blockquote, pre, dl, address {
    & + h2 { margin-top: var(--type-space-tag-to-h2); }
    & + h3 { margin-top: var(--type-space-tag-to-h3); }
    & + h4 { margin-top: var(--type-space-tag-to-h4); }
    & + h5 { margin-top: var(--type-space-tag-to-h5); }
    & + h6 { margin-top: var(--type-space-tag-to-h6); }
    & + * {
        margin-top: var(--type-space-tag-to-tag);
    }
}
figure,
table {
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + p,
    & + ul,
    & + ol,
    & + dl,
    & + pre,
    & + figure,
    & + table {
        margin-top: var(--type-space-figure-to-tag);
    }
}

h1 + h2 { margin-top: var(--type-space-tag-to-h2); }
h2 + h3 { margin-top: var(--type-space-tag-to-h3); }
h3 + h4 { margin-top: var(--type-space-tag-to-h4); }
h4 + h5 { margin-top: var(--type-space-tag-to-h5); }
h5 + h6 { margin-top: var(--type-space-tag-to-h6); }

// =Link
a {
    color: var(--link-default-color);
}
a:hover {
    @include transition;
    color: var(--link-default-hover-color);
}
a .icon svg,
a:hover .icon svg {
    fill: currentColor;
}

// =Heading
h1,
h2,
h3,
h4,
h5,
h6 {
    --heading-font-size: inherit;
    --heading-line-height: inherit;

    font-family: var(--font-heading);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.01em;
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    color: var(--heading-default);
    text-rendering: optimizeLegibility;

    & a {
        color: inherit !important;
        display: block;
        text-decoration: none;
    }
    & a:hover {
        color: inherit !important;
        opacity: 0.7;
        text-decoration: underline;
    }
}
@include generate-base-headings(scale(type), std);
@include for-lg { @include generate-base-headings(scale(type-lg), lg); }
@include for-md { @include generate-base-headings(scale(type-md), md); }
@include for-sm { @include generate-base-headings(scale(type-sm), sm); }

// =List
ul,
ol {
    margin-left: 20px;
}
li li {
    font-size: 1em;
}


// =Nav
nav ul,
nav ol {
    margin-left: 0;
    list-style: none;
}

// =Dl
dt {
    font-weight: bold;
}
dd + dt {
    margin-top: 0.25em;
}

// =Pre
pre {
    // colors
    --pre-color: var(--pre-default-color);
    --pre-border-color: var(--pre-default-border-color);
    --pre-background-color: var(--pre-default-background-color);

    // vars
    --pre-padding: 1em 1em 0.9em 1em;

    // props
    overflow: auto;
    white-space: pre;
    font-family: var(--font-mono);
    font-size: type-size(base, pre);
    line-height: type-line(base, pre);
    padding: var(--pre-padding);
    border-radius: var(--radius-base);
    border-width: 1px;
    border-style: solid;
    border-color: var(--pre-border-color);
    background-color: var(--pre-background-color);
    color: var(--pre-color);
}
pre code {
    padding: 0;
    border: 0;
    font-size: 100%;
    display: block;
    line-height: inherit;
}

// =Quote
blockquote {
    font-style: italic;
    font-weight: normal;
    padding: 0;
    background: transparent;

    & p {
        font-size: type-size(base, quote);
        line-height: type-line(base, quote);
    }
    & p + p {
        margin-top: 0.25em;
    }
}
blockquote,
figcaption {
    & cite {
        font-style: inherit;
        font-size: type-size(base, quotecite);
        line-height: type-line(base, quotecite);
        color: var(--inline-cite-color);
    }
}

// =Table
caption {
    text-align: left;
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    empty-cells: show;
}
td,
th {
    // colors
    --table-border-color: var(--table-default-border-color);

    // props
    text-align: left;
    vertical-align: top;
    font-size: type-size(base, table);
    line-height: type-line(base, table);
    padding: 0.75em 0;
    padding-right: 0.75em;
    border-bottom: 1px solid var(--table-border-color);
}
th {
    font-weight: normal;
}
thead th {
    font-weight: bold;
}

// =Address
address {
    font-style: normal;
}

// =Inline
dfn,
abbr {
    font-size: 95%;
}
cite,
small,
var,
kbd,
code {
    font-size: 85%;
}
sup,
sub {
    font-size: 65%;
}
var,
code,
kbd {
    display: inline-block;
    font-family: var(--font-mono);
    font-style: normal;
    line-height: 1;
    vertical-align: baseline;
}
kbd,
code {
    border-radius: var(--radius-base);
}
kbd {
    color: var(--inline-kbd-color);
    background-color: var(--inline-kbd-background-color);
    border: 1px solid var(--inline-kbd-border-color);
    padding: .2em .4em;
}
var {
    color: var(--inline-var-color);
    background-color: var(--inline-var-background-color);
    border: 1px solid var(--inline-var-border-color);
}
code {
    position: relative;
    top: -1px;
    padding: .2em .4em .2em;
    color: var(--inline-code-color);
    background-color: var(--inline-code-background-color);
    border: 1px solid var(--inline-code-border-color);
}
pre code {
    background: none;
}
mark {
    background-color: yellow;
    color: black;
}
b,
strong {
    font-weight: bold;
}
dfn,
abbr[title] {
    letter-spacing: .01em;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dotted rgba(#000, .4);
    cursor: help;
}
cite {
    font-style: italic;
}
sub,
sup {
    line-height: 1;
    margin-left: 2px;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}

// =Label
label {
    display: block;
    font-size: type-size(form, label);
    color: var(--form-label-color);
    margin-bottom: 0.15em;
    font-weight: normal;

    &.checkbox,
    & .hint,
    & .success,
    & .error {
        text-transform: none;
        font-weight: normal;
        letter-spacing: 0;
    }
    &.checkbox {
        font-size: type-size(form, checkbox);
        line-height: type-line(form, checkbox);
        cursor: pointer;
        color: inherit;
    }
    &.checkbox.disabled {
        opacity: 0.5;
        cursor: default;
    }
}

// =Embed
figure {
    & > img,
    & > iframe,
    & > pre,
    & > div {
        vertical-align: middle;
    }
    & figcaption {
        display: block;
        font-style: normal;
        margin-top: 0.25em;
        font-size: type-size(base, figcaption);
        line-height: type-line(base, figcaption);
    }
}