// =Button
$variants: map-extend($variants, (
    button: (
        default: (
            base: (
                font-weight: 600,
                border-radius: radius(large),
                padding: .4em 18px,
                border-width: 1px,
                border-style: solid
            ),
            disabled: (
                opacity: .5
            )
        ),
        large: (
            border-radius: radius(large),
            padding: .4em 24px
        ),
        small: (
            border-radius: radius(base),
            padding: .4em 14px
        ),
        primary: (
            disabled: (
                opacity: .4
            )
        ),
        dark: (
            disabled: (
                opacity: .4
            )
        )
    )
));