// =Input
$variants: map-extend($variants, (
    input: (
        default: (
            base: (
                border-radius: radius(base),
                padding: 0.3em 0.5em,
                border-width: 1px,
                border-style: solid
            ),
            focus: (
                box-shadow: 0 0 4px color(input, default, focus, shadow)
            )
        ),
        large: (
            border-radius: radius(base),
            padding: 0.3em 0.4em
        ),
        error: (
            focus: (
                box-shadow: 0 0 4px color(input, error, focus, shadow)
            )
        )
    ),
    input-addon: (
        default: (
            item: (
                base: (
                    padding: 0 0.85em,
                    border-radius: radius(base)
                )
            )
        )
    )
));