// =Label
$variants: map-extend($variants, (
    label: (
        default: (
            font-weight: 600,
            border-radius: radius(base),
            padding: 4px 9px,
            border: 1px solid transparent
        ),
        caps: (
            padding: 5px 8px 4px 8px,
            text-transform: uppercase
        )
    )
));