// =Menu
$variants: map-extend($variants, (
    menu: (
        default: (
            link: (
                padding: 5px 0
            )
        ),
        semibold: (
            link: (
                font-weight: 600
            )
        ),
        strong: (
            link: (
                font-weight: bold
            )
        ),
        caps: (
            link: (
                padding: 8px 0
            )
        ),
        stacked: (
            item: (
                border-bottom-width: 1px
            ),
            link: (
                padding: 8px 0
            )
        ),
        pills: (
            item: (
                margin-bottom: 1px
            ),
            link: (
                padding: 6px 10px,
                border-radius: radius(base)
            )
        ),
        numbered: (
            item: (
                before: (
                    width: 24px,
                    font-size: 80%
                ),
                after: (
                    width: 24px,
                    font-size: 80%
                )
            )
        )
    )
));